header {
	margin-bottom: 3px;
	padding: 25px 15px;
	color: white;
	background-color: rgb(0, 107, 196);
}

header p.lead {
	color: lightgrey;
}

ul.list li:hover {
	background: lightgrey;
}

table#stats,
table#statsprof {
	background: #fdf1dc;
}

table#stats table tbody tr:nth-child(odd) {
	background: #e4d8c3;
}

th.border {
	border: 1px solid black;
	background: #e69a28;
}

tr.text td {;
	color: black !important;
}

table#stats td#typerarityattunement {
	color: black;
}

tr.text td {
	color: black !important;
}

table#stats td#sizetypealignment {
	color: black;
}

tr.trait td,
tr.action td,
tr.reaction td,
tr.legendary td {
	color: black !important;
}

#output {
	background: lightgrey;
}

#crcalc label span.explanation {
	border: 1px solid lightgrey;
}

#msbcr tr:nth-child(even) {
	background: lightgrey;
}

#croutput {
	background: lightgrey;
}

/* section: class features */

td._class_feature.feature strong {
	color: #922610;
}

td._class_feature.subfeature strong {
	color: #922610;
}

td._class_feature.subfeature.sub2 span.inline-header {
	color: #922610;
	font-family: serif;
	font-weight: bold;
	font-style: italic;
}

table#stats td._class_feature table th {
	color: black;
}

/* end section: class features */

#classtable table {
	background: #fdf1dc;
}

#classtable table th {
	color: black;
}

#classtable table tr:nth-child(odd) td,
#rulescontent table tbody tr:nth-child(odd) td {
	background: lightgrey;
}

#rulescontent caption {
	color: black;
}

div#subclasses > span {
	background: lightgrey;
}

tr.trait td {
	color: black !important;
}