@font-face {
    font-family: 'good-pro-condensed';
    font-style: normal;
    font-weight: 700;
    src: local('font'), url("../fonts/good-pro-condensed-700.ttf") format("truetype");
}

@font-face {
    font-family: 'good-pro-condensed';
    font-style: normal;
    font-weight: 400;
    src: local('font'), url("../fonts/good-pro-condensed-400.ttf") format("truetype");
}


@font-face {
    font-family: 'good-pro';
    font-style: normal;
    font-weight: 400;
    src: local('font'), url("../fonts/good-pro-400.ttf") format("truetype");
}

@font-face {
    font-family: 'good-pro';
    font-style: italic;
    font-weight: 400;
    src: local('font'), url("../fonts/good-pro-italic-400.ttf") format("truetype");
}

@font-face {
    font-family: 'good-pro';
    font-style: normal;
    font-weight: 700;
    src: local('font'), url("../fonts/good-pro-700.ttf") format("truetype");
}

@font-face {
	font-family: "Pathfinder2eActions";
	font-style: normal;
	font-weight: 700;
	src: local("font"), url("../fonts/Pathfinder2eActions.ttf") format("truetype");
}

@font-face {
	font-family: 'dax';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url("../fonts/Dax-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'dax';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url("../fonts/Dax-bold.ttf") format("truetype");
}

@font-face {
	font-family: 'gin';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url("../fonts/Gin-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Sabon';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url("../fonts/Sabon-Roman.ttf") format("truetype");
}

@font-face {
	font-family: 'Sabon';
	font-style: italic;
	font-weight: 400;
	src: local('font'), url("../fonts/Sabon-Italic.ttf") format("truetype");
}

@font-face {
	font-family: 'Sabon';
	font-style: italic;
	font-weight: 700;
	src: local('font'), url("../fonts/Sabon-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'Sabon';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url("../fonts/Sabon-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'Taroca';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url("../fonts/Taroca.ttf") format("truetype");
}

@font-face {
	font-family: 'SabonLTStd';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url("../fonts/SabonLTStd-Roman.ttf") format("truetype");
}

@font-face {
	font-family: 'SabonLTStd';
	font-style: italic;
	font-weight: 400;
	src: local('font'), url("../fonts/SabonLTStd-Italic.ttf") format("truetype");
}

@font-face {
	font-family: 'SabonLTStd';
	font-style: italic;
	font-weight: 700;
	src: local('font'), url("../fonts/SabonLTStd-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'SabonLTStd';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url("../fonts/SabonLTStd-Bold.ttf") format("truetype");
}
