
.pf2-stat-name {
    margin: 0;
    padding: 0;
    font-family: 'good-pro-condensed', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.pf2-stat-level {
    margin: 0;
    margin-left:auto !important;
    padding: 0;
    font-family: 'good-pro-condensed', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}


.pf2-trait {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    min-width: 5em;
    color: #FFFFFF;
    font-family: 'good-pro-condensed', sans-serif;
    font-size: 1em;
    letter-spacing: 0.01em;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background: #5e0000;
    padding-left: 1.1em !important;
    padding-right: 1.1em;
    padding-top: 0.4em;
    padding-bottom: 0.25em;
    border: 0.12em solid #D9C484;
    border-bottom-width: 0.07em;
    border-top-width: 0.07em;
    text-align: center;
}

.night-mode .pf2-trait {
	color: #dedada
}

.pf2-trait-unique {
    background: #54166E;
}


.pf2-trait-rare {
    background: #002664;
}

.pf2-trait-uncommon {
    background: #98513D;
}

.pf2-trait-alignment {
    background: #576293;
    min-width: 2em;
}

.pf2-trait-size {
    background: #3B7B59;
}

.pf2-trait-left {
    border-left-width: 0.33em;
}

.pf2-trait-right {
    border-right-width: 0.33em;
}

.pf2-stat-line {
    background: black none repeat scroll 0 0;
    height: 1px;
    margin: 0.05em 0 0.2em 0;
}

.night-mode .pf2-stat-line {
	background: #aaaaaa
}

.pf2-stat-text {
    font-family: "good-pro", sans-serif;
    text-align: justify;
    line-height: 1.33em;
    font-size: 1.33em;
    font-weight: 400;
    margin: 0;
}
.pf2-stat-text-indent {
    font-family: "good-pro", sans-serif;
    text-align: justify;
	line-height: 1em;
	font-size: 1em;
    font-weight: 400;
    margin: 0;
    text-indent: 1em;
}

.pf-2-stat-text-indent-second-line {
	font-family: "good-pro", sans-serif;
	text-align: justify;
	line-height: 1.33em;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding-left: 1em;
	text-indent: -1em;
}

.pf-2-stat-indent-second-line {
    font-family: "good-pro", sans-serif;
    text-align: justify;
	line-height: 1.33em;
	font-size: 1.33em;
    font-weight: 400;
    margin: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.pf-2-stat-source {
	font-family: "good-pro", sans-serif;
	line-height: 1.33em;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	text-align: right;
	font-style: italic;
}

.pf2-action-icon {
	font-family: "Pathfinder2eActions";
	font-size: 1.78em;
	line-height: 0;
}

.pf-stat-name, .pf2-action-icon{
	font-size: 1.5em;
}

.pf2-1action-icon {
    width: 1em;
    height: 1em;
    margin: 0 0 -0.1em 0;
}

.pf2-2action-icon {
    width: 1.45em;
    height: 1em;
    margin: 0 0 -0.15em 0;
}

.pf2-3action-icon {
    width: 2.1em;
    height: 1em;
    margin: 0 0 -0.1em 0;
}

.pf2-free-action-icon {
    width: 1em;
    height: 1em;
    margin: 0 0 -0.1em 0;
}

.pf2-reaction-icon {
    width: 1.1em;
    height: 1em;
    margin: 0 0 -0.1em -0.1em;
}

.pf2-inset {
	margin: 25px 15px 7px 15px;
	padding: 10px 10px;
	background-color: #C8BCA5;
	position: relative;
	min-width: 120px;
	border-radius: 2px;
}

.pf2-inset p:first-of-type {
	text-indent: 0;
}

.pf2-inset > *:last-of-type {
	margin-bottom: 0;
}

.pf2-inset > p {
	font-family: "good-pro", sans-serif;
	text-indent: 1em;
	text-align: justify;
	line-height: 120%;
	margin: 0 0;
}

.pf2-inset-swirl {
	display: flex;
	fill: #c8bca5;
	width: 4em;
	height: 4em;
	position: absolute;
	z-index: 1;
}

.swirl-left {
	left: -0.6107em;
	top: -2em;
}

.swirl-right {
	right: -0.6107em;
	top: -2em;
}

.swirl-connection {
	top: -0.476em;
	right: 2em;
	height: 2em;
	width: calc(100% - 4em);
	background: #c8bca5;
}

.pf2-h-inset {
	display: block;
	font-family: "good-pro", sans-serif;
	font-weight: bold;
	font-size: 1.22em;
	text-transform: uppercase;
	text-align: center;
	width: calc(100% - 2em);
	padding-left: 1em;
	padding-right: 1em;
	top: -0.36em;
	left: 0;
	position: relative;
	z-index: 2;
}

.sourceCRB {
	color: #5e0000 !important;
	border-color: #5e0000 !important;
	-webkit-text-decoration-color: #5e0000 !important;
	text-decoration-color: #5e0000 !important
}

.night-mode .sourceCRB {
	color: #D9C484 !important;
}


.sourceAPG {
	color: green !important;
	border-color: green !important;
	-webkit-text-decoration-color: green !important;
	text-decoration-color: green !important
}

.night-mode .sourceAPG {
	color: green !important;
}
