
.pf2-pagecontent {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 1em !important;
	border-top: 2px solid #5E0000;
	border-bottom: 2px solid #5E0000;
}

.pf2-stat-name {
    margin: 0;
    padding: 0;
    font-family: 'good-pro-condensed', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.pf2-stat-level {
    margin: 0;
    margin-left:auto !important;
    padding: 0;
    font-family: 'good-pro-condensed', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.pf2-trait {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    min-width: 5em;
    color: #FFFFFF;
    font-family: 'good-pro-condensed', sans-serif;
    font-size: 1em;
    letter-spacing: 0.01em;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background: #5e0000;
    padding-left: 1.1em !important;
    padding-right: 1.1em;
    padding-top: 0.4em;
    padding-bottom: 0.25em;
    border: 0.12em solid #D9C484;
    border-bottom-width: 0.07em;
    border-top-width: 0.07em;
    text-align: center;
}
.night-mode .pf2-trait {
	color: #dedada
}
.pf2-trait-unique {
    background: #54166E;
}
.pf2-trait-rare {
    background: #002664;
}
.pf2-trait-uncommon {
    background: #98513D;
}
.pf2-trait-alignment {
    background: #576293;
    min-width: 2em;
}
.pf2-trait-size {
    background: #3B7B59;
}
.pf2-trait-left {
    border-left-width: 0.33em;
}
.pf2-trait-right {
    border-right-width: 0.33em;
}

.pf2-stat-line {
    background: black none repeat scroll 0 0;
    height: 1px;
    margin: 0.05em 0 0.2em 0;
}
.night-mode .pf2-stat-line {
	background: #aaaaaa
}

.pf2-stat-text {
    font-family: "good-pro", sans-serif;
    text-align: justify;
    line-height: 1.33em;
    font-size: 1.33em;
    font-weight: 400;
    margin: 0;
}
.pf2-stat-text p {
	margin: 0;
	text-indent: 1em;
}
.pf2-stat-text p:first-of-type {
	margin: 0;
	text-indent: 0;
}
.pf2-stat-text-indent {
    font-family: "good-pro", sans-serif;
    text-align: justify;
	line-height: 1em;
	font-size: 1em;
    font-weight: 400;
    margin: 0;
    text-indent: 1em;
}
.pf2-stat-text-indent-second-line {
	font-family: "good-pro", sans-serif;
	text-align: justify;
	line-height: 1.33em;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding-left: 1em;
	text-indent: -1em;
}
.pf2-stat-text-indent-second-line span ~ span {
	display: block;
	text-indent: 1em;
}
.pf2-stat-text-indent-second-line p ~ p {
	display: block;
	text-indent: 1em;
}
.pf-2-stat-indent-second-line {
    font-family: "good-pro", sans-serif;
    text-align: justify;
	line-height: 1.33em;
	font-size: 1.33em;
    font-weight: 400;
    margin: 0;
    padding-left: 1em;
    text-indent: -1em;
}
.pf2-stat-source {
	font-family: "good-pro", sans-serif;
	line-height: 1.33em;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding-top: 0.3em;
	text-align: right;
	font-style: italic;
	clear: both;
}

.pf-stat-name, .pf2-action-icon{
	font-size: 1.5em;
}
.pf2-action-icon {
	font-family: "Pathfinder2eActions";
	font-size: 1.78em;
	line-height: 0;
}
.pf2-1action-icon {
    width: 1em;
    height: 1em;
    margin: 0 0 -0.1em 0;
}
.pf2-2action-icon {
    width: 1.45em;
    height: 1em;
    margin: 0 0 -0.15em 0;
}
.pf2-3action-icon {
    width: 2.1em;
    height: 1em;
    margin: 0 0 -0.1em 0;
}
.pf2-free-action-icon {
    width: 1em;
    height: 1em;
    margin: 0 0 -0.1em 0;
}
.pf2-reaction-icon {
    width: 1.1em;
    height: 1em;
    margin: 0 0 -0.1em -0.1em;
}

.pf2-h1 {
	clear: both;
	color: #5E0000;
	margin: 0;
	padding: 0.3em 0 0;
	font-family: 'Taroca', sans-serif;
	font-size: 2.3em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
}
.pf2-h1-flavor {
	clear: both;
	color: #5E0000;
	margin: 0;
	padding: 0;
	font-family: 'SabonLTStd', sans-serif;
	font-style: italic;
	font-size: 1.2em;
	font-weight: 400;
	text-align: justify;
	line-height: 1.34em;
}
.pf2-h2 {
	clear: left;
	color: #002664;
	margin: 0 0 0.3em;
	padding: 0.8em 0 0 0;
	font-family: 'Taroca', sans-serif;
	font-size: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1em;
}
.pf2-h2-step-num {
	border: 3px solid #d9c484;
	height: 1.4em;
	width: 1.4em;
	border-radius: 50%;
	background: #002664;
	color: #d9c484;
	text-align: center;
	font-family: 'Taroca', sans-serif;
	font-size: 2.8em;
	padding: 0;
	margin: -0.15em 0.3em 0 0;
	text-transform: uppercase;
	float: left;
	clear: left;
	line-height: 1.4em;
}
.pf2-h2-step {
	color: #002664;
	font-family: 'Taroca', sans-serif;
	font-size: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1em;
	padding: 0.05em;
	background: #d1d3d4;
	display: flex;
	margin: 0.8em 0 0.1em 2em;
}
.pf2-h2-step + .pf2-h2 {
	padding: 0;
	clear: none;
}
.pf2-h3 {
	clear: left;
	color: #5E0000;
	margin: 0;
	padding: 0.6em 0 0;
	font-family: 'Gin', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.2em;
	display: flex;
}
.pf2-h3-lvl {
	margin-left: auto !important;
}
.pf2-h4 {
	color: #a86753;
	margin: 0;
	padding: 0.3em 0 0;
	font-family: 'Gin', sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1.25em;
	vertical-align: bottom;
}
.pf2-h4::first-letter {
	font-size: 1.4em;
	line-height: 1.25em;
	font-weight: 400;
}
.pf2-h5 {
	clear: left;
	background: #002664;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	-webkit-box-shadow: 0 2px #F6F4F2, 0 3px black;
	color: #ede3c8;
	margin: 0.3em 0 0.3em;
	padding: 0.3em 0.4em 0.25em;
	font-family: 'Gin', sans-serif;
	font-size: 1.35em;
	font-weight: 400;
	line-height: 0.8em;
	text-transform: uppercase;
	display: flex;
	width: 100%;
}
.pf2-p {
	color: black;
	margin: 0;
	padding: 0.3em 0 0.3em;
	font-family: 'SabonLTStd', sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: justify;
	line-height: 1.35em;
}
.pf2-pagecontent .rd__list li {
	color: black;
	margin: 0;
	padding: 0.3em 0 0.3em;
	font-family: 'SabonLTStd', sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	line-height: 1.35em;
}

.pf2-table {
	display: grid;
	grid-gap: 0;
	padding: 0;
	margin: 1em 0 0.3em;
	font-size: 1.2em;
}
.pf2-table-name {
	padding: 0;
	font-family: 'good-pro', sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	grid-column-start: 1;
	grid-column-end: -1;
}
.pf2-table-caption {
	padding: 0;
	font-family: 'good-pro-condensed', sans-serif;
	font-size: 1.4em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
}
.pf2-table-label {
	padding: 0 0.3em;
	background: #5E0000;
	color: #FFFFFF;
	font-family: 'good-pro', sans-serif;
	font-size: 0.9em;
	font-weight: 700;
	line-height: 1.2em;
}
.pf2-table-entry {
	padding: 0 0.3em;
	color: black;
	background: #ede3c8;
	font-family: 'good-pro', sans-serif;
	font-size: 0.9em;
}
.pf2-table-footnote {
	font-family: 'good-pro', sans-serif;
	font-size: 0.9em;
	background: #e6d8b0;
	grid-column-start: 1;
	grid-column-end: -1;
}
.pf2-table-intro {
	color: black;
	font-family: 'good-pro', sans-serif;
	font-size: 0.9em;
	grid-column-start: 1;
	grid-column-end: -1;
}
.pf2-table-outro {
	color: black;
	font-family: 'good-pro', sans-serif;
	font-size: 0.9em;
	grid-column-start: 1;
	grid-column-end: -1;
}
.pf2-table-entry.odd {
	background: #f5efe0;
}
.pf2-table-entry.border-left {
	border-left: 1px solid #5E0000;
}
.pf2-table-entry.border-right {
	border-right: 1px solid #5E0000;
}
.pf2-table-entry.border-top {
	border-top: 1px solid #5E0000;
}
.pf2-table-entry.border-bottom {
	border-bottom: 1px solid #5E0000;
}
.pf2-table-entry .rd__list {
	margin-bottom: 0;
	margin-top: 0;
}

.pf2-sidebar-left {
	float: left;
	clear: left;
	border-right: solid 2px #5E0000;
	width: 50%;
	max-width: 170px;
	margin: 0.9em 1em 0.9em -1em;
}
.pf2-sidebar {
	float: right;
	clear: right;
	border-left: solid 2px #5E0000;
	width: 50%;
	max-width: 170px;
	margin: 0.9em -1em 0.9em 1em;
}
@media only screen and (max-width: 220px) {
	.pf2-sidebar {
		width: calc(100%);
		max-width: none;
	}
	.pf2-sidebar-left {
		width: calc(100%);
		max-width: none;
	}
}
.pf2-sidebar-title {
	font-size: 1.1em;
	font-weight: 700;
	margin: 0;
	font-family: 'good-pro', sans-serif;
	color: #5E0000;
	padding: 0 1em 0;
}
.pf2-sidebar-text {
	margin: 0;
	font-family: 'good-pro', sans-serif;
	color: #5E0000;
	font-size: 0.9em;
	font-weight: 400;
	padding: 0 1em 0;
}
.pf2-chapter-line-l {
	margin-top: 0.5em;
	margin-left: 0;
	margin-right: -1em;
	height: 1px;
	background: #5E0000;
	width: calc(50% - 2.2em);
}
.pf2-chapter-line-r {
	margin-top: 0.5em;
	margin-left: -1em;
	margin-right: 0;
	height: 1px;
	background: #5E0000;
	width: calc(50% - 2.2em);
}
.pf2-chapter-swirl-l {
	width: 4.4em;
	height: 2em;
	padding: 0 0 1em 0;
	margin-right: -0.12em;
	background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134.57 57.84" style="fill: %235E0000"><path d="M800.2,632.26a36.88,36.88,0,0,1-11.08-1.86c-8.26-3.54-12-5.67-17.94-13.93a39.28,39.28,0,0,1-5.08-10.05,19.27,19.27,0,0,0-8-10.95,12.64,12.64,0,0,0-6.67-2.22,8.8,8.8,0,0,0-5.57,2c-3.7,2.94-4.55,7.11-2.52,12.38a16.63,16.63,0,0,0,.81,1.71c-6.64-2.41-9.19-8.31-9-20.51v-.69l-.66.2c-1.67.51-3.34,1-5,1.57-7.53,2.4-15.31,4.88-23,4.88a31.28,31.28,0,0,1-12.92-2.68,38.86,38.86,0,0,0,7,.65c13,0,24.65-7,34.88-13.11a29.75,29.75,0,0,1,15.33-4.26c12.49,0,23.44,7.86,26,18.68a1.29,1.29,0,0,0,.62.73,1.49,1.49,0,0,1,.2.15l.34.3.33-.31c6.21-5.84,10.58-8.33,14.61-8.33,2.41,0,4.75.91,7.37,2.85C805,593,806,596.86,803.49,602c-1.87-4.49-4.64-7-7.82-7a7.19,7.19,0,0,0-2.8.61c-4.1,1.74-5.67,7.06-3.65,12.37a13.49,13.49,0,0,0,12.35,8.61,10.84,10.84,0,0,0,1.13-.06A13.18,13.18,0,0,0,814.34,605c1.23-8.66-2.06-15-10.06-19.4,7.2.2,11.07,4.31,14.18,8.74l.1.14a38.92,38.92,0,0,1,3,4.81,23.4,23.4,0,0,1,2,13c0,.35-.07.61-.07.76-1,6.1-2.89,8.43-3.89,9.68-4,5-6.37,6-8.84,7.07A37.67,37.67,0,0,1,800.2,632.26Z" transform="translate(-689.69 -574.92)"/><path d="M750.77,575.92c12.26,0,23,7.7,25.54,18.3a1.78,1.78,0,0,0,.82,1,.83.83,0,0,1,.15.11l.69.61.66-.63c6-5.66,10.43-8.19,14.27-8.19a11.76,11.76,0,0,1,7.07,2.75c4.24,3.15,5.34,6.46,3.53,10.87-1.94-4-4.69-6.24-7.83-6.24a7.66,7.66,0,0,0-3,.65c-4.34,1.85-6,7.44-3.92,13a14,14,0,0,0,12.82,8.93,11.66,11.66,0,0,0,1.18-.06,13.67,13.67,0,0,0,12.08-12c1.16-8.17-1.59-14.35-8.41-18.78,5.63.88,8.92,4.48,11.63,8.34l.1.14a37.88,37.88,0,0,1,3,4.73,22.87,22.87,0,0,1,2,12.75c0,.32-.06.54-.07.72-1,6-2.81,8.26-3.78,9.47-4,4.94-6.23,5.91-8.64,6.92a37.17,37.17,0,0,1-10.37,2.38,36.67,36.67,0,0,1-10.9-1.82c-8.17-3.51-11.82-5.62-17.72-13.76a39.37,39.37,0,0,1-5-9.91,19.72,19.72,0,0,0-8.22-11.22,13.05,13.05,0,0,0-6.94-2.3,9.29,9.29,0,0,0-5.88,2.14c-3.84,3.05-4.76,7.53-2.68,13,.07.19.15.37.23.55-5.5-2.61-7.62-8.38-7.44-19.53l0-1.37-1.31.4c-1.68.51-3.38,1.05-5,1.58-7.49,2.38-15.24,4.85-22.86,4.85a31.61,31.61,0,0,1-8.44-1.11c.84.06,1.69.08,2.54.08,13.18,0,24.85-7,35.14-13.18a29.27,29.27,0,0,1,15.07-4.19m0-1a30.19,30.19,0,0,0-15.58,4.33c-11,6.59-22,13-34.63,13a38.2,38.2,0,0,1-10.87-1.59,31.87,31.87,0,0,0,16.77,4.62c9.46,0,18.8-3.63,28.18-6.47-.21,13.11,2.82,19.17,10.49,21.37-.48-1-1-1.83-1.34-2.74-1.71-4.43-1.53-8.71,2.36-11.81a8.27,8.27,0,0,1,5.26-1.92,12.1,12.1,0,0,1,6.4,2.15,18.67,18.67,0,0,1,7.81,10.67,39.89,39.89,0,0,0,5.16,10.19c5.94,8.2,9.55,10.41,18.18,14.12a37.78,37.78,0,0,0,11.25,1.88A38.5,38.5,0,0,0,811,630.31c2.64-1.12,5-2.22,9-7.22,1.23-1.54,3-4,4-10a24.66,24.66,0,0,0-2-14,41.26,41.26,0,0,0-3.13-5c-3.56-5.07-7.7-9-15.17-9-.46,0-.94,0-1.43,0,9.18,4.34,12.86,10.78,11.57,19.8a12.74,12.74,0,0,1-11.19,11.11c-.36,0-.72.05-1.08.05a12.94,12.94,0,0,1-11.88-8.28c-1.91-5-.45-10.11,3.37-11.74a6.69,6.69,0,0,1,2.61-.57c3,0,5.6,2.35,7.42,6.78q.15.39.36.39c.11,0,.23-.08.37-.24,2.77-5.47,1.76-9.63-3.25-13.36a12.79,12.79,0,0,0-7.67-3c-4.26,0-8.84,2.72-14.95,8.46-.23-.2-.6-.37-.66-.61-2.78-11.58-14.21-19.07-26.52-19.07Z" transform="translate(-689.69 -574.92)"/></svg>') no-repeat;
}
.pf2-chapter-swirl-r {
	width: 4.4em;
	height: 2em;
	padding: 0 0 1em 0;
	margin-left: -0.12em;
	transform: scaleX(-1);
	background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134.57 57.84" style="fill: %235E0000"><path d="M800.2,632.26a36.88,36.88,0,0,1-11.08-1.86c-8.26-3.54-12-5.67-17.94-13.93a39.28,39.28,0,0,1-5.08-10.05,19.27,19.27,0,0,0-8-10.95,12.64,12.64,0,0,0-6.67-2.22,8.8,8.8,0,0,0-5.57,2c-3.7,2.94-4.55,7.11-2.52,12.38a16.63,16.63,0,0,0,.81,1.71c-6.64-2.41-9.19-8.31-9-20.51v-.69l-.66.2c-1.67.51-3.34,1-5,1.57-7.53,2.4-15.31,4.88-23,4.88a31.28,31.28,0,0,1-12.92-2.68,38.86,38.86,0,0,0,7,.65c13,0,24.65-7,34.88-13.11a29.75,29.75,0,0,1,15.33-4.26c12.49,0,23.44,7.86,26,18.68a1.29,1.29,0,0,0,.62.73,1.49,1.49,0,0,1,.2.15l.34.3.33-.31c6.21-5.84,10.58-8.33,14.61-8.33,2.41,0,4.75.91,7.37,2.85C805,593,806,596.86,803.49,602c-1.87-4.49-4.64-7-7.82-7a7.19,7.19,0,0,0-2.8.61c-4.1,1.74-5.67,7.06-3.65,12.37a13.49,13.49,0,0,0,12.35,8.61,10.84,10.84,0,0,0,1.13-.06A13.18,13.18,0,0,0,814.34,605c1.23-8.66-2.06-15-10.06-19.4,7.2.2,11.07,4.31,14.18,8.74l.1.14a38.92,38.92,0,0,1,3,4.81,23.4,23.4,0,0,1,2,13c0,.35-.07.61-.07.76-1,6.1-2.89,8.43-3.89,9.68-4,5-6.37,6-8.84,7.07A37.67,37.67,0,0,1,800.2,632.26Z" transform="translate(-689.69 -574.92)"/><path d="M750.77,575.92c12.26,0,23,7.7,25.54,18.3a1.78,1.78,0,0,0,.82,1,.83.83,0,0,1,.15.11l.69.61.66-.63c6-5.66,10.43-8.19,14.27-8.19a11.76,11.76,0,0,1,7.07,2.75c4.24,3.15,5.34,6.46,3.53,10.87-1.94-4-4.69-6.24-7.83-6.24a7.66,7.66,0,0,0-3,.65c-4.34,1.85-6,7.44-3.92,13a14,14,0,0,0,12.82,8.93,11.66,11.66,0,0,0,1.18-.06,13.67,13.67,0,0,0,12.08-12c1.16-8.17-1.59-14.35-8.41-18.78,5.63.88,8.92,4.48,11.63,8.34l.1.14a37.88,37.88,0,0,1,3,4.73,22.87,22.87,0,0,1,2,12.75c0,.32-.06.54-.07.72-1,6-2.81,8.26-3.78,9.47-4,4.94-6.23,5.91-8.64,6.92a37.17,37.17,0,0,1-10.37,2.38,36.67,36.67,0,0,1-10.9-1.82c-8.17-3.51-11.82-5.62-17.72-13.76a39.37,39.37,0,0,1-5-9.91,19.72,19.72,0,0,0-8.22-11.22,13.05,13.05,0,0,0-6.94-2.3,9.29,9.29,0,0,0-5.88,2.14c-3.84,3.05-4.76,7.53-2.68,13,.07.19.15.37.23.55-5.5-2.61-7.62-8.38-7.44-19.53l0-1.37-1.31.4c-1.68.51-3.38,1.05-5,1.58-7.49,2.38-15.24,4.85-22.86,4.85a31.61,31.61,0,0,1-8.44-1.11c.84.06,1.69.08,2.54.08,13.18,0,24.85-7,35.14-13.18a29.27,29.27,0,0,1,15.07-4.19m0-1a30.19,30.19,0,0,0-15.58,4.33c-11,6.59-22,13-34.63,13a38.2,38.2,0,0,1-10.87-1.59,31.87,31.87,0,0,0,16.77,4.62c9.46,0,18.8-3.63,28.18-6.47-.21,13.11,2.82,19.17,10.49,21.37-.48-1-1-1.83-1.34-2.74-1.71-4.43-1.53-8.71,2.36-11.81a8.27,8.27,0,0,1,5.26-1.92,12.1,12.1,0,0,1,6.4,2.15,18.67,18.67,0,0,1,7.81,10.67,39.89,39.89,0,0,0,5.16,10.19c5.94,8.2,9.55,10.41,18.18,14.12a37.78,37.78,0,0,0,11.25,1.88A38.5,38.5,0,0,0,811,630.31c2.64-1.12,5-2.22,9-7.22,1.23-1.54,3-4,4-10a24.66,24.66,0,0,0-2-14,41.26,41.26,0,0,0-3.13-5c-3.56-5.07-7.7-9-15.17-9-.46,0-.94,0-1.43,0,9.18,4.34,12.86,10.78,11.57,19.8a12.74,12.74,0,0,1-11.19,11.11c-.36,0-.72.05-1.08.05a12.94,12.94,0,0,1-11.88-8.28c-1.91-5-.45-10.11,3.37-11.74a6.69,6.69,0,0,1,2.61-.57c3,0,5.6,2.35,7.42,6.78q.15.39.36.39c.11,0,.23-.08.37-.24,2.77-5.47,1.76-9.63-3.25-13.36a12.79,12.79,0,0,0-7.67-3c-4.26,0-8.84,2.72-14.95,8.46-.23-.2-.6-.37-.66-.61-2.78-11.58-14.21-19.07-26.52-19.07Z" transform="translate(-689.69 -574.92)"/></svg>') no-repeat;
}

.pf2-key-abilities {
	color: #FFFFFF;
	background: #5E0000;
	border: 2px solid #B29E74;
	display: flex;
	margin: 0.3em 0 0.3em;
}
.pf2-key-abilities-ab {
	box-shadow: 8px 0 0 -6px #B29E74;
	width: calc(50% - 3px);
	padding: 0 1em 1em;
}
.pf2-key-abilities-hp {
	padding: 0 1em 1em;
	width: calc(50% - 1px);
}
.pf2-key-abilities-title {
	font-family: 'Gin', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	text-align: left;
	padding-bottom: 0.3em;
	margin: 0;
}
.pf2-key-abilities-text {
	font-family: 'good-pro', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	text-align: left;
	line-height: 1.2em;
	margin: 0;
}
.pf2-key-abilities-text ~ .pf2-key-abilities-text {
	font-weight: 400;
}
.pf2-tips-box {
	float: left;
	font-family: 'good-pro', sans-serif;
	width: 300px;
	margin: 0.3em 1em 0.3em 0;
}
.pf2-tips-box-title {
	background: #002664;
	color: #D9C484;
	font-weight: 700;
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.2em;
	padding: 0.2em 0.3em 0;
	margin: 0;
}
.pf2-tips-box-text {
	background: #D1D3D4;
	font-size: 0.9em;
	line-height: 1.2em;
	text-align: justify;
	margin: 0;
	padding: 0.1em 0.3em 0.1em;
}
.pf2-sample-box {
	float: left;
	background: #eae4d8;
	margin: 0.3em 1em 0.3em 0;
	padding: 0 1em 0.3em;
	font-family: 'good-pro', sans-serif;
}
.pf2-sample-box-title {
	font-weight: 700;
	font-size: 1em;
	line-height: 1.2em;
	text-align: center;
	padding: 0.3em 1em 0.3em;
	margin: 0;
}
.pf2-sample-box-text-indent-second {
	font-weight: 400;
	line-height: 1.2em;
	padding: 0 1em 0 1.3em;
	text-indent: -1em;
	margin: 0;
}
.pf2-sample-box-text {
	font-weight: 400;
	line-height: 1.2em;
	padding: 0 0.3em 0.3em;
	margin: 0;
}
.pf2-inset {
	background: #eae4d8;
	display: flex;
	clear: left;
	border-top: 1px solid #c99a89;
	border-bottom: 1px solid #c99a89;
	font-family: 'good-pro', sans-serif;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.2em;
	text-align: center;
	margin: 0;
	padding: 0 1em 0;
	height: fit-content;
}

.pf2-red-box {
	color: white;
	margin: 1.6em 0 0.6em;
	padding: 0.6em;
	background-color: #5e0000;
	position: relative;
	min-width: 120px;
	border-radius: 2px;
}
.pf2-red-box-title {
	display: block;
	font-family: "good-pro", sans-serif;
	font-weight: bold;
	font-size: 1.22em;
	text-transform: uppercase;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	top: -0.36em;
	left: 0;
	position: relative;
	z-index: 2;
}
.pf2-red-box-note {
	font-family: "good-pro", sans-serif;
	text-indent: 0;
	text-align: justify;
	line-height: 1.2em;
	margin: 0 1em;
}
.pf2-red-box-note ~ .pf2-red-box-note{
	text-indent: 0.9em;
}
.pf2-red-box-table {
	margin-top: 1em;
	font-family: 'good-pro', sans-serif;
	border-collapse: collapse;
}
.pf2-red-box-table th {
	text-align: center;
}
.pf2-red-box-table tr {
	text-align: left;
	vertical-align: top;
	padding: 0.3em;
}
.pf2-red-box-table td {
	padding: 0 1em 0;
	border-left: 1px solid #b29e74;
	border-right: 1px solid #b29e74;
}
.pf2-red-box-table td:first-of-type {
	border-left: none;
}
.pf2-red-box-table td:last-of-type {
	border-right: none;
}
.pf2-red-box-table thead tr {
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 700;
	text-align: center;
}
.swirl-left-red {
	display: flex;
	width: 4em;
	height: 4em;
	position: absolute;
	z-index: 1;
	left: -0.6107em;
	top: -2em;
	background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 415 242" style="fill: %235e0000"><path d="M63.05,241.05V169.52c0-5,.18-10-.09-14.93-.11-1.81-.13-4.6-1.78-5.8s-4.2-.26-5.89.27a61.34,61.34,0,0,0-11.21,4.65A41.74,41.74,0,0,0,27.75,170c-4.13,7.41-6.2,15.79-7.36,24.14-.38,2.72-.69,5.46-1.07,8.18A66.94,66.94,0,0,1,0,155a65.82,65.82,0,0,1,21.38-47.46,69.62,69.62,0,0,1,53.48-18,82.23,82.23,0,0,1,14.91,2.91q1.76.51,3.48,1.08c.16,0,.91.41,1,.35a2.86,2.86,0,0,0,.32-.66,3.63,3.63,0,0,0,.21-1.73A21.3,21.3,0,0,0,94.09,89c-.3-1.15-.53-2.33-.75-3.5a68.81,68.81,0,0,1,0-25.47c3.23-17,12.9-32.38,26.26-43.33A72.58,72.58,0,0,1,144.3,3.28a76.68,76.68,0,0,1,28.17-3A58.69,58.69,0,0,1,197.7,8a59.71,59.71,0,0,1,19.5,18.51,67.43,67.43,0,0,1,9.44,23.9,60.62,60.62,0,0,1,1.48,13,36.82,36.82,0,0,1-2.27,12c-5.57,15.16-22.26,27.72-38.83,22.31a20.33,20.33,0,0,1-9.7-6.52c-.27-.35-.54-.71-.79-1.08s-.65-.75-.34-1.14c.62-.79,2-.34,2.74-.19a16.64,16.64,0,0,0,6,0A14.86,14.86,0,0,0,194,83.25a19.44,19.44,0,0,0,3.58-11.17,24.54,24.54,0,0,0-10.11-21c-6.58-4.57-15.35-5.21-22.94-3.14a26.81,26.81,0,0,0-10.24,5.2,30.74,30.74,0,0,0-7.34,10,38.2,38.2,0,0,0,9.1,45.84,20.36,20.36,0,0,0,10,4.63,32.32,32.32,0,0,0,7,.12q4.14-.24,8.28-.34c11.33-.31,22.66,0,34,.17,4.73.08,9.33.48,13.34-2.47,3.59-2.63,6.64-6.41,9.25-10a61.82,61.82,0,0,0,6.74-11.73c1.94-4.42,3.1-9.06,4.58-13.63a88.94,88.94,0,0,1,13.26-25.78c4.83-6.52,10.66-12.47,18.13-15.91A35.06,35.06,0,0,1,286.44,32c1.94-.51,4.28-1.23,6.29-.8s2.85,2.07,3.91,3.57a43.08,43.08,0,0,0,4.59,5.49c6.77,6.88,15.43,12.12,24,16.44a129.64,129.64,0,0,0,27.53,10,163.16,163.16,0,0,0,29,4.21c10.85.63,32.27.62,32.62.44S413,241.51,413,241.51"/></svg>') no-repeat center center;
}
.swirl-right-red {
	display: flex;
	width: 4em;
	height: 4em;
	position: absolute;
	z-index: 1;
	right: -0.6107em;
	top: -2em;
	background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 415 242" style="fill: %235e0000"><path d="M1.39,241.51S-.3,71.14.05,71.33s21.77.19,32.62-.44a162.92,162.92,0,0,0,29-4.21,129.52,129.52,0,0,0,27.54-10c8.58-4.32,17.24-9.56,24-16.44a43.08,43.08,0,0,0,4.59-5.49c1-1.5,2-3.17,3.91-3.57s4.35.29,6.29.8A35.38,35.38,0,0,1,133.82,34c7.47,3.44,13.3,9.39,18.13,15.91a89.19,89.19,0,0,1,13.26,25.78c1.48,4.57,2.64,9.21,4.58,13.63a61.82,61.82,0,0,0,6.74,11.73c2.61,3.56,5.66,7.34,9.24,10,4,3,8.62,2.55,13.35,2.47,11.33-.18,22.66-.48,34-.17q4.14.11,8.28.34a32.22,32.22,0,0,0,7-.12,20.35,20.35,0,0,0,10-4.63,38.2,38.2,0,0,0,9.1-45.84,30.88,30.88,0,0,0-7.34-10,26.81,26.81,0,0,0-10.24-5.2C242.33,45.83,233.56,46.47,227,51a24.54,24.54,0,0,0-10.11,21,19.36,19.36,0,0,0,3.58,11.17,14.84,14.84,0,0,0,9.09,5.51,16.64,16.64,0,0,0,6,0c.78-.15,2.12-.6,2.74.19.31.39-.07.72-.35,1.14s-.51.73-.78,1.08a20.38,20.38,0,0,1-9.7,6.52c-16.57,5.41-33.26-7.15-38.83-22.31a36.82,36.82,0,0,1-2.27-12,60.62,60.62,0,0,1,1.48-13,67.43,67.43,0,0,1,9.44-23.9A59.61,59.61,0,0,1,216.74,8,58.69,58.69,0,0,1,242,.23a76.68,76.68,0,0,1,28.17,3.05,72.58,72.58,0,0,1,24.69,13.37c13.36,11,23,26.29,26.26,43.33a68.81,68.81,0,0,1,0,25.47c-.22,1.17-.45,2.35-.75,3.5a21.3,21.3,0,0,0-.74,2.56,3.63,3.63,0,0,0,.21,1.73s.22.62.32.66.89-.3,1-.35c1.16-.38,2.32-.74,3.49-1.08a82.23,82.23,0,0,1,14.91-2.91,69.58,69.58,0,0,1,53.47,18A65.83,65.83,0,0,1,414.44,155a66.94,66.94,0,0,1-19.32,47.35c-.38-2.72-.69-5.46-1.07-8.18-1.16-8.35-3.23-16.73-7.36-24.14a41.74,41.74,0,0,0-16.33-16.32,61.34,61.34,0,0,0-11.21-4.65c-1.69-.53-4.26-1.45-5.89-.27s-1.68,4-1.78,5.8c-.28,5-.1,10-.1,14.93q0,35.78,0,71.53"/></svg>') no-repeat center center;
}
.swirl-connection-red {
	top: -0.476em;
	right: 2em;
	height: 2em;
	width: calc(100% - 4em);
	background: #5e0000;
	display: flex;
	position: absolute;
	z-index: 1;
}

.pf2-brown-box {
	margin: 1.6em 0 0.6em;
	padding: 0.6em;
	background-color: #C8BCA5;
	position: relative;
	min-width: 120px;
	border-radius: 2px;
}
.pf2-brown-box p:first-of-type {
	text-indent: 0;
}
.pf2-brown-box > *:last-of-type {
	margin-bottom: 0;
}
.pf2-brown-box > p {
	font-family: "good-pro", sans-serif;
	text-indent: 1em;
	text-align: justify;
	line-height: 120%;
	margin: 0 1em;
}
.swirl-left-brown {
	display: flex;
	width: 4em;
	height: 4em;
	position: absolute;
	z-index: 1;
	left: -0.6107em;
	top: -2em;
	background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 415 242" style="fill: %23c8bca5"><path d="M63.05,241.05V169.52c0-5,.18-10-.09-14.93-.11-1.81-.13-4.6-1.78-5.8s-4.2-.26-5.89.27a61.34,61.34,0,0,0-11.21,4.65A41.74,41.74,0,0,0,27.75,170c-4.13,7.41-6.2,15.79-7.36,24.14-.38,2.72-.69,5.46-1.07,8.18A66.94,66.94,0,0,1,0,155a65.82,65.82,0,0,1,21.38-47.46,69.62,69.62,0,0,1,53.48-18,82.23,82.23,0,0,1,14.91,2.91q1.76.51,3.48,1.08c.16,0,.91.41,1,.35a2.86,2.86,0,0,0,.32-.66,3.63,3.63,0,0,0,.21-1.73A21.3,21.3,0,0,0,94.09,89c-.3-1.15-.53-2.33-.75-3.5a68.81,68.81,0,0,1,0-25.47c3.23-17,12.9-32.38,26.26-43.33A72.58,72.58,0,0,1,144.3,3.28a76.68,76.68,0,0,1,28.17-3A58.69,58.69,0,0,1,197.7,8a59.71,59.71,0,0,1,19.5,18.51,67.43,67.43,0,0,1,9.44,23.9,60.62,60.62,0,0,1,1.48,13,36.82,36.82,0,0,1-2.27,12c-5.57,15.16-22.26,27.72-38.83,22.31a20.33,20.33,0,0,1-9.7-6.52c-.27-.35-.54-.71-.79-1.08s-.65-.75-.34-1.14c.62-.79,2-.34,2.74-.19a16.64,16.64,0,0,0,6,0A14.86,14.86,0,0,0,194,83.25a19.44,19.44,0,0,0,3.58-11.17,24.54,24.54,0,0,0-10.11-21c-6.58-4.57-15.35-5.21-22.94-3.14a26.81,26.81,0,0,0-10.24,5.2,30.74,30.74,0,0,0-7.34,10,38.2,38.2,0,0,0,9.1,45.84,20.36,20.36,0,0,0,10,4.63,32.32,32.32,0,0,0,7,.12q4.14-.24,8.28-.34c11.33-.31,22.66,0,34,.17,4.73.08,9.33.48,13.34-2.47,3.59-2.63,6.64-6.41,9.25-10a61.82,61.82,0,0,0,6.74-11.73c1.94-4.42,3.1-9.06,4.58-13.63a88.94,88.94,0,0,1,13.26-25.78c4.83-6.52,10.66-12.47,18.13-15.91A35.06,35.06,0,0,1,286.44,32c1.94-.51,4.28-1.23,6.29-.8s2.85,2.07,3.91,3.57a43.08,43.08,0,0,0,4.59,5.49c6.77,6.88,15.43,12.12,24,16.44a129.64,129.64,0,0,0,27.53,10,163.16,163.16,0,0,0,29,4.21c10.85.63,32.27.62,32.62.44S413,241.51,413,241.51"/></svg>') no-repeat center center;
}
.swirl-right-brown {
	display: flex;
	width: 4em;
	height: 4em;
	position: absolute;
	z-index: 1;
	right: -0.6107em;
	top: -2em;
	background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 415 242" style="fill: %23c8bca5"><path d="M1.39,241.51S-.3,71.14.05,71.33s21.77.19,32.62-.44a162.92,162.92,0,0,0,29-4.21,129.52,129.52,0,0,0,27.54-10c8.58-4.32,17.24-9.56,24-16.44a43.08,43.08,0,0,0,4.59-5.49c1-1.5,2-3.17,3.91-3.57s4.35.29,6.29.8A35.38,35.38,0,0,1,133.82,34c7.47,3.44,13.3,9.39,18.13,15.91a89.19,89.19,0,0,1,13.26,25.78c1.48,4.57,2.64,9.21,4.58,13.63a61.82,61.82,0,0,0,6.74,11.73c2.61,3.56,5.66,7.34,9.24,10,4,3,8.62,2.55,13.35,2.47,11.33-.18,22.66-.48,34-.17q4.14.11,8.28.34a32.22,32.22,0,0,0,7-.12,20.35,20.35,0,0,0,10-4.63,38.2,38.2,0,0,0,9.1-45.84,30.88,30.88,0,0,0-7.34-10,26.81,26.81,0,0,0-10.24-5.2C242.33,45.83,233.56,46.47,227,51a24.54,24.54,0,0,0-10.11,21,19.36,19.36,0,0,0,3.58,11.17,14.84,14.84,0,0,0,9.09,5.51,16.64,16.64,0,0,0,6,0c.78-.15,2.12-.6,2.74.19.31.39-.07.72-.35,1.14s-.51.73-.78,1.08a20.38,20.38,0,0,1-9.7,6.52c-16.57,5.41-33.26-7.15-38.83-22.31a36.82,36.82,0,0,1-2.27-12,60.62,60.62,0,0,1,1.48-13,67.43,67.43,0,0,1,9.44-23.9A59.61,59.61,0,0,1,216.74,8,58.69,58.69,0,0,1,242,.23a76.68,76.68,0,0,1,28.17,3.05,72.58,72.58,0,0,1,24.69,13.37c13.36,11,23,26.29,26.26,43.33a68.81,68.81,0,0,1,0,25.47c-.22,1.17-.45,2.35-.75,3.5a21.3,21.3,0,0,0-.74,2.56,3.63,3.63,0,0,0,.21,1.73s.22.62.32.66.89-.3,1-.35c1.16-.38,2.32-.74,3.49-1.08a82.23,82.23,0,0,1,14.91-2.91,69.58,69.58,0,0,1,53.47,18A65.83,65.83,0,0,1,414.44,155a66.94,66.94,0,0,1-19.32,47.35c-.38-2.72-.69-5.46-1.07-8.18-1.16-8.35-3.23-16.73-7.36-24.14a41.74,41.74,0,0,0-16.33-16.32,61.34,61.34,0,0,0-11.21-4.65c-1.69-.53-4.26-1.45-5.89-.27s-1.68,4-1.78,5.8c-.28,5-.1,10-.1,14.93q0,35.78,0,71.53"/></svg>') no-repeat center center;
}
.swirl-connection-brown {
	display: flex;
	fill: #c8bca5;
	position: absolute;
	z-index: 1;
	top: -0.476em;
	right: 2em;
	height: 2em;
	width: calc(100% - 4em);
	background: #c8bca5;
}
.pf2-brown-box-title {
	display: block;
	font-family: "good-pro", sans-serif;
	font-weight: bold;
	font-size: 1.22em;
	text-transform: uppercase;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	top: -0.36em;
	left: 0;
	position: relative;
	z-index: 2;
}

.sourceCRB {
	color: #5e0000 !important;
	border-color: #5e0000 !important;
	-webkit-text-decoration-color: #5e0000 !important;
	text-decoration-color: #5e0000 !important
}
.night-mode .sourceCRB {
	color: #D9C484 !important;
}
.sourceAPG {
	color: green !important;
	border-color: green !important;
	-webkit-text-decoration-color: green !important;
	text-decoration-color: green !important
}
.night-mode .sourceAPG {
	color: green !important;
}
.sourceBST {
	color: darkblue !important;
	border-color: darkblue !important;
	-webkit-text-decoration-color: darkblue !important;
	text-decoration-color: darkblue !important
}
