@font-face {
	font-family: 'Convergence';
	font-style: normal;
	font-weight: 400;
	src: local('Convergence-Regular'), url('font/Convergence-Regular.ttf') format('truetype');
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

header {
	margin-bottom: 3px;
	padding: 25px 15px;
	color: white;
	background-color: rgb(0, 107, 196);
}

header p.lead {
	color: lightgrey;
}

main {
	padding: 10px 15px;
}

footer {
	padding: 20px 15px;
	font-size: 90%;
}

.hidden {
	display: none;
}

.bold {
	font-weight: bold;
}

.float-end {
	float: none;
}

input.search {
	width: 62%;
}

form#filtertools {
	font-size: 0.8em;
}

form#filtertools select {
	margin: 1px;
}

form#filtertools small:hover {
	cursor: pointer;
}

#pointbuy input {
	margin: 2px;
	text-align: right;
	width: 3em;
}

#pointbuy input[type=number] {
	-moz-appearance: textfield;
}

.sortlabel {
	display: block;
}

ul.list {
	list-style-type: none;
	padding-left: 0;
	height: 100%;
	max-height: 40em;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 1em;
	clear: both;
	font-size: 0.8em;
}

ul.list li {
	padding: 1px;
	cursor: pointer;
	display: block;
	border-bottom: 1px solid #ddd;
	max-height: 3em;
	overflow-y: hidden;
}

ul.list li:hover {
	background: lightgrey;
	max-height: 100%;
}

ul.list li:active {
	color: white;
}

ul.list li span.name {
	font-weight: bold;
}

ul.list li span.level,
ul.list li span.classes,
ul.list li span.school {
	display: inline-block;
	text-transform: capitalize;
}

ul.list li:hover span {
	display: block;
}

th#name span.source {
	display: inline-block;
	float: right;
	font-weight: 500;
	margin-left: 0.5em;
	z-index: 1;
	line-height: 100%;
}

.monster th#name span.source {
	position: relative;
	margin-right: 0.2em;
}

span.sourceDMG {
	color: purple;
}

span.sourceMM {
	color: green;
}

span.sourceVGM {
	color: grey;
}

span.sourceToD {
	color: orangered;
}

span.sourceCoS {
	color: purple;
}

span.sourceOotA {
	color: black;
}

span.sourceSKT {
	color: darkcyan;
}

span.sourcePotA {
	color: blue;
}

span.sourceLMoP {
	color: lightgreen;
}

span.sourceTYP {
	color: red;
}

span.sourceEEPC {
	color: white;
	text-shadow: 0 0 3px #000;
}

table#stats,
table#statsprof {
	font-family: 'Convergence', sans-serif;
	background: #fdf1dc;
	border-radius: 10px;
	width: 100%;
	font-size: 0.9em;
	table-layout: fixed;
}

table#stats td,
table#stats th {
	padding: 1px 0.3em;
}

table#stats th {
	color: #922610;
}

table#stats span {
	vertical-align: top !important;
}

table#stats tr.text ul {
	margin: 0 0 10px;
	padding: 0 20px;
}

table#stats tr.text li {
	margin: 0 0 5px;
}

/* sub-tables */
table#stats table {
	width: 100%;
	margin-bottom: 5px;
}

table#stats table caption {
	font-weight: bold;
	font-size: 1.1em;
	padding: 0;
	margin-left: 5px;
}

table#stats table tbody tr:nth-child(odd) {
	background: #e4d8c3;
}

th.border {
	height: 10px;
	border: 1px solid black;
	background: #e69a28;
}

td.divider div {
	background: #922610;
	height: 4px;
	margin: 4px 0;
}

th#name {
	font-size: 1.5em;
	font-family: serif;
	font-weight: 500;
}

table#stats span.name {
	font-weight: bold;
}

tr.text td {
	padding-bottom: 0.7em !important;
	color: black !important;
}

td#levelschoolritual {
	font-style: italic;
}

table#stats #castingtime,
table#stats #range,
table#stats #components,
table#stats #duration,
table#stats #classes {
	font-weight: bold;
}

table#stats #castingtime span,
table#stats #range span,
table#stats #components span,
table#stats #duration span,
table#stats #classes span {
	font-weight: normal !important;
}

table#stats td#typerarityattunement {
	font-style: italic;
	color: black;
}

table#stats span.name {
	font-weight: bold;
}

tr.text td {
	padding-bottom: 0.7em !important;
	color: black !important;
}

th#name {
	font-size: 1.8em;
	font-family: 'Andada', serif;
	font-variant: small-caps;
	font-weight: 500;
	padding-left: 0.2em !important;
}

.monster th#name {
	padding-right: 5em !important;
}

table#stats td#sizetypealignment {
	font-style: italic;
	color: black;
	padding-right: 10em;
}

td#sizetypealignment span {
	font-weight: normal !important;
}

tr#abilitynames th {
	text-align: center;
	font-weight: bold;
}

tr#abilityscores td {
	text-align: center;
	width: 16%;
}

span.name {
	font-weight: bold;
}

tr.trait td p.spells {
	margin-bottom: 0;
}

tr.trait td table {
	margin: 10px 0;
}

table#stats tr.trait td.suboptionheader {
	font-weight: bold;
}

table#stats tr.trait td.suboption {
	font-size: 0.9em;
	padding: 1px 1em;
}

table#stats tr.trait td.subsuboption {
	font-size: 0.9em;
	padding: 1px 1.5em;
}

tr#actions td,
tr#reactions td,
tr#legendaries td {
	font-size: 1.6em;
	font-family: 'Andada', serif;
	font-variant: small-caps;
	border-bottom: 1px solid #000;
	vertical-align: bottom !important;
	padding-left: 0.2em;
}

tr#actions td span,
tr#reactions td span,
tr#legendaries td span {
	display: block;
	margin-bottom: -0.3em;
	font-weight: 100;
}

tr#abilitynames th {
	color: inherit;
}

tr.trait td,
tr.action td,
tr.reaction td,
tr.legendary td {
	padding-bottom: 0.7em !important;
	color: black !important;
}

tr.trait:last-of-type td,
tr.action:last-of-type td,
tr.reaction:last-of-type td,
tr.legendary:last-of-type td {
	padding-bottom: 0 !important;
}

p.first {
	display: inline;
}

p.second {
	margin-top: 1em;
}

tr td > p.spells {
	margin-top: 1em !important;
}

tr td > p.spells ~ p.spells {
	margin-top: 0 !important;
}

#stats span.roller {
	color: #337ab7;
	cursor: pointer;
}

#output {
	margin: 1em 0;
	padding: 0.2em 0.7em;
	background: lightgrey;
	border-radius: 0.2em;
	display: none;
}

div#lootoutput {
	height: 100%;
	padding-top: 1em;
	clear: both;
}

#crcalc input[type=number],
#crcalc input[type=checkbox],
.inputwrap {
	left: 15em;
	text-align: right;
	clear: both;
	margin-bottom: 2px;
	width: 6em;
	float: right;
}

#crcalc select {
	margin-left: -1.1em;
	border-radius: 3px;
}

#crcalc input[type=checkbox] {
	width: auto;
}

#crcalc input#hd {
	float: none;
	width: 4em;
}

#crcalc span#hdval {
	width: 2em;
	text-align: center;
	display: inline-block;
}

input[type=number]#hd::-webkit-inner-spin-button,
input[type=number]#hd::-webkit-outer-spin-button {
	margin: 0;
}

#crcalc label span.explanation {
	display: none;
	font-weight: normal;
	position: absolute;
	background: white;
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding: 3px;
}

#crcalc label:hover span.explanation {
	display: block;
	width: 18em;
	font-size: 0.8em;
}

#crcalc input#hd:focus {
	border: 1px solid initial;
}

#msbcr {
	text-align: center;
	font-size: 0.8em;
}

#msbcr th {
	text-align: center;
	padding: 0 0.5em;
	cursor: initial !important;
}

#msbcr tr:nth-child(even) {
	background: lightgrey;
}

#msbcr tr {
	cursor: pointer;
}

#croutput {
	padding: 0.2em 0.7em;
	background: lightgrey;
	border-radius: 0.2em;
}

#instructions p {
	font-size: small;
}

#monsterfeatures tr th {
	font-size: 0.8em;
	vertical-align: bottom;
	padding: 0.2em 0.7em;
}

#monsterfeatures tr td {
	cursor: pointer;
	font-size: 0.8em;
	padding: 0.2em 0.7em;
	vertical-align: top;
}

#monsterfeatures tr td input[type=number] {
	width: 3em;
	vertical-align: middle;
	text-align: right;
}

#expectedcr {
	text-align: center;
}

td#hp,
td#prof,
td#equipment {
	font-size: 0.8em;
	padding: 0.7em;
}

td#hp h5,
td#prof h5,
td#equipment h5 {
	font-family: serif;
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 0;
}

/* section: class features */

td._class_feature p {
	padding: 0 1em;
}

td._class_feature.feature strong {
	margin: 0.2em;
	display: block;
	border-bottom: 1px solid #000;
	color: #922610;
	font-family: serif;
	font-weight: 500;
	font-size: 1.5em;
}

td._class_feature.subclassfeature strong {
	margin: 0.2em;
	display: block;
	border-bottom: 1px solid #337ab7;
	color: #337ab7;
	font-family: serif;
	font-weight: 500;
	font-size: 1.5em;
}

td._class_feature.subclasssubfeature strong {
	margin: 0.2em;
	display: inline;
	border-bottom: none;
	color: #337ab7;
	font-family: serif;
	font-weight: 500;
	font-size: 1.3em;
}

td._class_feature.subclasssubfeature.sub2 span.inline-header {
	color: #337ab7;
	font-family: serif;
	font-weight: bold;
	font-style: italic;
}

td._class_feature.subfeature strong {
	margin: 0.2em;
	display: inline;
	border-bottom: none;
	color: #922610;
	font-family: serif;
	font-weight: 500;
	font-size: 1.3em;
}

td._class_feature.subfeature.sub2 span.inline-header {
	color: #922610;
	font-family: serif;
	font-weight: bold;
	font-style: italic;
}

td._class_feature.optionalsubfeature strong {
	margin: 0.2em;
	display: inline;
	border-bottom: none;
	color: #c1437e;
	font-family: serif;
	font-weight: 500;
	font-size: 1.3em;
}

td._class_feature.optionalsubfeature.sub2 span.inline-header {
	color: #c1437e;
	font-family: serif;
	font-weight: bold;
	font-style: italic;
}

table#stats td._class_feature table {
	margin: 0 0.9em 10px;
	width: calc(100% - 1.8em);
}

td._class_feature p.prerequisite {
	font-style: italic;
	margin-bottom: 2px;
}

table#stats td._class_feature.feature table {
	margin: 0 1.2em;
	width: calc(100% - 2.4em);
}

table#stats td._class_feature table th {
	color: black;
}

table#stats td._class_feature p.spellabilitysubtext {
	text-align: center;
}

table#stats td._class_feature p.spellabilitysubtext span {
	font-weight: bold;
}

/* end section: class features */

#classtable table {
	font-size: 0.8em;
	width: 100%;
	background: #fdf1dc;
}

#classtable table th {
	color: black;
}

#classtable table tr:nth-child(odd) td,
#rulescontent table tbody tr:nth-child(odd) td {
	background: lightgrey;
}

aside#listcontainer {
	float: left;
	padding: 0 1em 1em 0;
	margin-right: 1em;
}

ul.list.rules {
	overflow-y: auto !important;
	padding-top: 0;
}

#rulescontent caption {
	font-weight: bold;
	font-size: 1.2em;
	color: black;
	display: block;
}

#rulescontent table {
	font-size: 0.9em;
	width: 100%;
	min-width: 250px;
	display: block;
	margin: 0.2em;
}

#rulescontent table thead tr td {
	font-style: italic;
}

#rulescontent table td {
	padding: 0.2em 0.5em;
}

#classtable table .level {
	text-align: center;
	width: 1.5em;
}

#classtable table .pb {
	text-align: center;
	width: 1.5em;
	padding: 1px 0.5em;
}

#classtable .slots {
	display: none;
	text-align: center;
	max-width: 4em;
}

td.features {
	max-width: 100%;
	white-space: pre-wrap;
}

#classtable .newfeature {
	text-align: center;
	width: 1em;
}

div#subclasses {
	padding: 0 1em 0.5em;
	text-align: center;
}

div#subclasses > span {
	display: inline-block;
	font-size: 0.8em;
	margin: 0.2em;
	padding: 0.5em;
	background: lightgrey;
	border-radius: 0.5em;
	cursor: pointer;
}

div#subclasses span.active {
	background: #337ab7;
	color: white;
}

.slotlabel {
	text-align: center;
	border-bottom: 1px solid #000;
}

.featurebuffer {
	width: auto;
}

img.token {
	float: right;
	width: auto;
	max-width: 5em;
	height: auto;
	position: absolute;
	right: 1em;
	z-index: 10;
}

img.token:hover {
	max-width: none;
	right: 0;
}

.classes table#stats {
	font-family: inherit;
}

#classtable tr th {
	padding: 1px 0.2em;
}

tr.trait td {
	padding-bottom: 0.7em !important;
	color: black !important;
}

table#stats #ability,
table#stats #size,
table#stats #speed {
	font-weight: bold;
}

table#stats #ability span,
table#stats #size span,
table#stats #speed span {
	font-weight: normal !important;
}

table#stats.monster span#speed {
	font-weight: normal !important;
}

table#stats tr.trait td p:first-of-type {
	display: inline;
}

table#stats p.subtrait {
	padding: 0 1em;
	font-size: 0.9em;
}

.text-align-center {
	text-align: center;
}

/****************************************
 * Print styles
 ***************************************/

@media print {
	@page {
		margin: 10mm 20mm;
	}

	@page :left {
		margin: 10mm 25mm 10mm 15mm;
	}

	@page :right {
		margin: 10mm 15mm 10mm 25mm;
	}

	.divider,
	nav,
	hr,
	#listcontainer,
	#subclasses,
	#itemcontainer,
	#monstercontainer {
		display: none;
	}

	table {
		width: 100%;
		margin-bottom: 5mm;
	}

	th.border {
		height: auto;
		border: 0;
		border-bottom: 0.25pt solid black;
	}

	strong,
	.name {
		font-weight: 600;
	}

	header {
		visibility: visible;
	}

	#classtable table tr:nth-child(odd) td {
		background: lightgrey !important;
	}
}

/* Bootstrap overrides */

.col-xs-4-3 {
	width: 35.83333333333333%;
}

.col-xs-3-8 {
	width: 31.66666666666666%;
}

.col-xs-3-7 {
	width: 30.83333333333333%;
}

.col-xs-3-67 {
	width: 31.77777777777777%;
}

.col-xs-3-6 {
	width: 29.99999999999999%;
}

.col-xs-3-5 {
	width: 29.16666666666666%;
}

.col-xs-3-1 {
	width: 25.83333333333333%;
}

.col-xs-2-5 {
	width: 20.83333333333333%;
}

.col-xs-2-4 {
	width: 19.99999999999999%;
}

.col-xs-2-3 {
	width: 19.16666666666666%;
}

.col-xs-2-2 {
	width: 18.33333333333333%;
}

.col-xs-2-1 {
	width: 17.49999999999999%;
}

.col-xs-1-7 {
	width: 14.16666666666666%;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
}

/* Psionics */

.psi-order-and-talent {
	font-style: italic;
}

.psi-focus-title {
	font-style: italic;
	font-weight: bold;
}

.psi-mode-title {
	font-style: italic;
	font-weight: bold;
}

.psi-mode-sub-title {
	font-weight: bold;
}

.stats-sub-header {
	font-style: italic;
	font-weight: bold;
}

.stats-list-sub-header {
	font-style: italic;
	font-weight: bold;
	margin-left: 5px;
}

.list-entry-none {
	font-style: italic;
}

.filter-sublist-item-wrapper {
	display: -webkit-flex;
	display: flex;
}

.filter-sublist-item-text {
	margin-right: 20px;
}

input[type=checkbox].filter-checkbox {
	margin-left: auto;
	padding: 0 10px;
}

input[type=checkbox].readonly {
	pointer-events: none;
}

#listcontainer li {
	padding: 0;
}

#listcontainer .list a {
	color: inherit;
	display: block;
	overflow: hidden;
	padding: 1px;
	text-decoration: none;
}
