@import url('https://fonts.googleapis.com/css?family=Convergence');

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

header {
	margin-bottom: 3px;
	padding: 25px 15px;
	color: white;
	background-color: rgb(0, 107, 196);
}

header p.lead {
	color: lightgrey;
}


main {
	padding: 10px 15px;
}

footer {
	padding: 20px 15px;
	font-size: 90%;
}

input.search {
	width: 62%;
}

form#filtertools {
	font-size: 0.8em;
}

form#filtertools select {
	margin: 1px;
}

form#filtertools small:hover {
	cursor: pointer;
}

form#pointbuy label {
  float: left;
  width: 7em;
}

form#pointbuy input {
  margin: 2px;
  text-align: right;
}

.sortlabel {
	display: block;
	/*float: right;
	text-align: right;*/
}

ul.list {
	list-style-type: none;
	padding-left: 0px;
	height: 100%;
	max-height: 40em;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 1em;
	clear: both;
	font-size: 0.8em;
}

ul.list li {
	padding: 1px;
	cursor: pointer;
	display: block;
	border-bottom: 1px solid #ddd;
	max-height: 3em;
	overflow-y: hidden;
}

ul.list li:hover {
	background: lightgrey;
	max-height: 100%;
}

ul.list li:active {
	color: white;
}

ul.list li span {

}

ul.list li span.name {
	font-weight: bold;
}

ul.list li span.level, ul.list li span.classes, ul.list li span.school {
	/*font-size: 0.8em;*/
	display: inline-block;
	text-transform: capitalize;
}

ul.list li:hover span {
	display: block;
}

th#name span.source {
	display: inline-block;
	float: right;
	font-weight: 500;
	margin-left: 0.5em;
  z-index: 1;
  line-height: 100%;
}

.monster th#name span.source {
  position: relative;
  margin-right: 0.2em;
}

span.sourceDMG {
	color: purple;
}

span.sourceMM {
	color: green;
}

span.sourceVGM {
	color: grey;
}

span.sourceToD {
	color: orangered;
}

span.sourceCoS {
	color: purple;
}

span.sourceOotA {
	color: black;
}

span.sourceSKT {
	color: darkcyan;
}

span.sourcePotA {
	color: blue;
}

span.sourceLMoP {
	color: lightgreen;
}

span.sourceTYP {
	color: red;
}

span.sourceEEPC {
	color: white;
  text-shadow: 0px 0px 3px #000;
}

table#stats, table#statsprof {
  font-family: 'Convergence', sans-serif;
  background: #fdf1dc;
  border-radius: 10px;
	width: 100%;
	font-size: .9em;
	table-layout: fixed;
}

table#stats td, table#stats th {
	padding: 1px 0.3em;
}

table#stats th {
	/*color: rgb(0, 107, 196);*/
  color: #922610;
}

table#stats span {
	vertical-align: top!important;
}

th.border {
	height: 10px;
  border: 1px solid black;
	background: #e69a28;
}

td.divider div {
	background: #922610;
	/*background: #000;*/
	height: 4px;
	margin: 4px 0;
}

th#name {
	font-size: 1.5em;
	font-family: serif;
	font-weight: 500;
}

table#stats span.name {
	font-weight: bold;
}

tr.text td {
	padding-bottom: 0.7em!important;
	color: black!important;
}

td#levelschoolritual {
	font-style: italic;
}
table#stats #castingtime, table#stats #range, table#stats #components, table#stats #duration, table#stats #classes {
	font-weight: bold;
}

table#stats #castingtime span, table#stats #range span, table#stats #components span, table#stats #duration span, table#stats #classes span {
	font-weight: normal!important;
}


table#stats td#typerarityattunement {
	font-style: italic;
	color: black;
}

table#stats span.name {
	font-weight: bold;
}

tr.text td {
	padding-bottom: 0.7em!important;
	color: black!important;
}

td#source {
	/*font-weight: bold;*/
}

th#name {
	font-size: 1.8em;
	font-family: 'Andada', serif;
	font-variant: small-caps;
	font-weight: 500;
	padding-left: 0.2em!important;
}

.monster th#name {
  padding-right: 5em!important;
}

table#stats td#sizetypealignment {
	font-style: italic;
	color: black;
  padding-right: 10em;
}

td#sizetypealignment span {
  font-weight: normal!important;
}

tr#abilitynames th {
	text-align: center;
	font-weight: bold;
}

tr#abilityscores td {
	text-align: center;
	width: 16%;
}

span.name {
	font-weight: bold;
}

tr.trait td p.spells {
	margin-bottom: 0px;
}

tr#actions td, tr#reactions td, tr#legendaries td {
	font-size: 1.6em;
	font-family: 'Andada', serif;
	font-variant: small-caps;
	/*border-bottom: 1px solid #a8513b;*/
	border-bottom: 1px solid #000;
	vertical-align: bottom!important;
	padding-left: 0.2em;
}

tr#actions td span, tr#reactions td span, tr#legendaries td span {
	display: block;
	margin-bottom: -0.3em;
	font-weight: 100;
}

tr#abilitynames th {
  color: inherit;
}

tr.trait td, tr.action td, tr.reaction td, tr.legendary td {
	padding-bottom: 0.7em!important;
	color: black!important;
}

tr.trait:last-of-type td, tr.action:last-of-type td, tr.reaction:last-of-type td, tr.legendary:last-of-type td {
	padding-bottom: 0px!important;
}

p.first {
	display: inline;
}

p.second {
	margin-top: 1em;
}
tr td > p.spells {
	margin-top: 1em!important;
}

tr td > p.spells ~ p.spells{
	margin-top: 0em!important;
}

#stats span.roller {
	color: #337ab7;
	cursor: pointer;
}

#output {
	margin: 1em 0;
	padding: 0.2em 0.7em;
	background: lightgrey;
	border-radius: 0.2em;
	display: none;
}

div#lootoutput {
   height: 100%;
    padding-top: 1em; clear: both;
}



#crcalc input[type=number], #crcalc input[type=checkbox], .inputwrap {
	left: 15em;
	text-align: right;
	clear: both;
	margin-bottom: 2px;
	width: 6em;
	float: right;
}

#crcalc select {
	margin-left: -1.1em;
	border-radius: 3px;
}
#crcalc input[type=checkbox] {
	width: auto;
}

#crcalc input#hd {
	float: none;
	width: 2em;
}

input[type=number]#hd::-webkit-inner-spin-button,
input[type=number]#hd::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#crcalc label span.explanation {
	display: none;
	font-weight: normal;
	position: absolute;
	background: white;
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding: 3px;
}

#crcalc label:hover span.explanation {
	display: block;
	width: 18em;
	font-size: 0.8em;
}

#crcalc input#hd:focus {
	border: 1px solid initial;
}

#msbcr {
	text-align: center;
	font-size: 0.8em;
}

#msbcr th {
	text-align: center;
	padding: 0 0.5em;
	cursor: initial!important;
}

#msbcr tr:nth-child(even) {
	background: lightgrey;
}

#msbcr tr {
	cursor: pointer;
}

#croutput {
	padding: 0.2em 0.7em;
	background: lightgrey;
	border-radius: 0.2em;
}

#instructions p {
	font-size: small;
}

#monsterfeatures tr th {
	font-size: 0.8em;
	vertical-align: bottom;
	padding: 0.2em 0.7em;
}

#monsterfeatures tr td {
	cursor: pointer;
	font-size: 0.8em;
	padding: 0.2em 0.7em;
	vertical-align: top;
}

#monsterfeatures tr td input[type=number] {
	width: 3em;
	vertical-align: middle;
	text-align: right;
}

#expectedcr {
	text-align: center;
}


td#hp, td#prof, td#equipment {
	font-size: 0.8em;
  padding: 0.7em;
}

td#hp h5, td#prof h5, td#equipment h5 {
	/*color: #922610;*/
	font-family: serif;
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 0px;
}

td.feature p {
	padding: 0 1em;
}

.feature strong {
	margin: 0.2em;
	display: block;
	/*border-bottom: 1px solid #922610;*/
	border-bottom: 1px solid #000;
	color: #922610;
	font-family: serif;
	font-weight: 500;
	font-size: 1.5em;
}

#classtable table {
	font-size: 0.8em;
	width: 100%;
  background: #fdf1dc;
}

#classtable table th {
	color: black;
}

#classtable table tr:nth-child(odd) td, #rulescontent table tbody tr:nth-child(odd) td {
	background: lightgrey;
}

aside#listcontainer {
  float: left;
  padding: 0 1em 1em 0;
  margin-right: 1em;
}

ul.list.rules {
  overflow-y: auto!important;
  padding-top: 0;
}

#rulescontent caption {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  display: block;
}

#rulescontent table {
  font-size: 0.9em;
  width: 100%;
  min-width: 250px;
  display: block;
  margin: 0.2em;
}

#rulescontent table thead tr td {
  font-style: italic;
}

#rulescontent table td {
  padding: 0.2em 0.5em;
}

#classtable table .level {
	text-align: center;
	width: 1.5em;
}

#classtable table .pb {
	text-align: center;
	width: 1.5em;
  padding: 1px 0.5em;
}

#classtable .slots {
	display: none;
	text-align: center;
	max-width: 4em;
}

#classtable .spellslots0 {

}

td.features {
	max-width: 100%;
	white-space: pre-wrap;
}

#classtable .newfeature {
	text-align: center;
	width: 1em;

}

div#subclasses {
		padding: 0 1em 0.5em 1em ;
		text-align: center;
}

div#subclasses > span {
	display: inline-block;
	font-size: 0.8em;
	margin: 0.2em;
	padding: 0.5em;
	background: lightgrey;
	border-radius: 0.5em;
	cursor: pointer;
}

div#subclasses span.active {
	background: #337ab7;
	color: white;
}

.subclass strong {
	/*color: #666;*/
	/*border-bottom-color: #666;*/
	color: #337ab7;
	border-bottom-color: #337ab7;
}

.feature.subfeature {
	font-size: 0.9em;
	padding-left: 2em;
}

.feature.subfeature strong {
	display: inline!important;
	border-bottom: none!important;
}

.slotlabel {
	text-align: center;
	border-bottom: 1px solid #000;
}

.featurebuffer {
	width: auto;
}

img.token {
  float: right;
  width: auto;
  max-width: 5em;
  height: auto;
  position: absolute;
  right: 1em;
  z-index: 10;
}

img.token:hover {
  max-width: none;
  right: 0;
}

/*
img.token:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    height: 5em;
    width: 5em;
    background-image: url(../img/Gauth.png);
    background-size: 5em 5em;
    background-repeat: no-repeat;
  }*/


.classes table#stats {
    font-family: inherit;
}

#classtable tr th {
  padding: 1px 0.2em;
}


tr.trait td {
	padding-bottom: 0.7em!important;
	color: black!important;
}

table#stats #ability, table#stats #size, table#stats #speed {
	font-weight: bold;
}

table#stats #ability span, table#stats #size span {
	font-weight: normal!important;
}

table#stats.monster span#speed {
  font-weight: normal!important;
}

table#stats tr.trait td p:first-of-type {
	display: inline;
}


/****************************************
 * Print styles
 ***************************************/

@media print {

    @page {
        margin: 10mm 20mm;
    }

    @page:left {
        margin: 10mm 25mm 10mm 15mm;
    }

    @page:right {
        margin: 10mm 15mm 10mm 25mm;
    }

    .divider, nav, hr,
    #listcontainer, #subclasses,
    #itemcontainer, #monstercontainer {
        display: none;
    }

    table {
        width: 100%;
        margin-bottom: 5mm;
    }

    th.border {
        height: auto;
        border: 0;
        border-bottom: .25pt solid black;
    }

    strong, .name {
        font-weight: 600;
    }

    header {
        visibility: visible;
    }

    #classtable table tr:nth-child(odd) td {
        background: lightgrey !important;
    }
}
