@import 'vars';

@keyframes kf-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes kf-pop-in {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.hwin {
	position: fixed;
	width: 600px;
	max-width: 92vw;
	min-width: 150px;
	z-index: $z-hwin;
	box-shadow: 0 0 12px 0 black;
	animation-name: kf-fade-in, kf-pop-in;
	animation-duration: 150ms, 75ms;
	display: flex;
	flex-direction: column;

	&--minified {
		.hoverborder {
			&__resize-n,
			&__resize-ne,
			&__resize-e,
			&__resize-se,
			&__resize-s,
			&__resize-sw,
			&__resize-w,
			&__resize-nw {
				display: none;
			}
		}
	}

	&--popout {
		box-shadow: initial;
		width: 100%;
		animation-duration: initial;
		overflow-y: scroll;
		height: 100%;
		max-width: initial;
		max-height: initial;
	}

	@media (max-width: 1023px) {
		max-width: 95vw;
	}

	&::-webkit-scrollbar-track {
		background: #a0a0a0;
	}

	&::-webkit-scrollbar {
		width: 4px;
	}

	&__wrp-table {
		max-height: 92vh;
		min-height: 20px;
		overflow-y: auto;
		background: #f0f0f0;
		transform: translateZ(0);
	}

	p {
		margin-bottom: 5px;
	}

	.rnd-name {
		font-size: 22.4px;
	}

	td div.border {
		height: 2px;
		background-color: $rgb-name-red;
		margin: 0 3px;
		padding: 0;
		border-right: 5px transparent;
	}
}

.hoverborder {
	position: relative;
	min-height: 3px;
	max-height: 16px;
	text-align: right;

	&--btm {
		cursor: ns-resize;
	}

	&--top {
		cursor: move;
		user-select: none;
		display: flex;
		justify-content: space-between;
	}

	.glyphicon {
		display: none;
	}

	&[data-perm=true] .glyphicon {
		display: block;
	}

	.window-title {
		overflow: hidden;
		max-width: calc(100% - 45px);
		text-align: left;
		margin-left: 4px;
		padding: 1px 0;
		font-size: 12px;
		display: none;
		font-family: 'Andada', serif;
		font-variant: small-caps;
		text-transform: uppercase;
		font-weight: bold;
		flex-shrink: 0;
	}

	&[data-perm=true] .window-title {
		display: block;
	}

	&__resize-n {
		position: absolute;
		top: -4px;
		right: 4px;
		left: 4px;
		height: 4px;
		cursor: ns-resize;
	}

	&__resize-ne {
		position: absolute;
		top: -6px;
		right: -6px;
		height: 10px;
		width: 10px;
		cursor: ne-resize;
	}

	&__resize-e {
		position: absolute;
		top: 4px;
		right: -4px;
		bottom: 4px;
		width: 4px;
		cursor: ew-resize;
	}

	&__resize-se {
		position: absolute;
		right: -6px;
		bottom: -6px;
		height: 10px;
		width: 10px;
		cursor: se-resize;
	}

	&__resize-s {
		position: absolute;
		top: 3px;
		right: 4px;
		left: 4px;
		height: 2px;
	}

	&__resize-sw {
		position: absolute;
		bottom: -6px;
		left: -6px;
		height: 10px;
		width: 10px;
		cursor: sw-resize;
	}

	&__resize-w {
		position: absolute;
		top: 4px;
		bottom: 4px;
		left: -4px;
		width: 4px;
		cursor: ew-resize;
	}

	&__resize-nw {
		position: absolute;
		top: -6px;
		left: -6px;
		height: 10px;
		width: 10px;
		cursor: nw-resize;
	}
}

.hoverborder[data-display-title=true] ~ .hwin__wrp-table,
.hoverborder[data-display-title=true] ~ .hoverborder {
	display: none;
}
