//region fonts
@font-face {
	font-family: 'good-pro-condensed';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('../fonts/good-pro-condensed-700.ttf') format('truetype');
}

@font-face {
	font-family: 'good-pro-condensed';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('../fonts/good-pro-condensed-400.ttf') format('truetype');
}

@font-face {
	font-family: 'good-pro';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('../fonts/good-pro-400.ttf') format('truetype');
}

@font-face {
	font-family: 'good-pro';
	font-style: italic;
	font-weight: 400;
	src: local('font'), url('../fonts/good-pro-italic-400.ttf') format('truetype');
}

@font-face {
	font-family: 'good-pro';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('../fonts/good-pro-700.ttf') format('truetype');
}

@font-face {
	font-family: 'Pathfinder2eActions';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('../fonts/Pathfinder2eActions.ttf') format('truetype');
}

@font-face {
	font-family: 'dax';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('../fonts/Dax-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'dax';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('../fonts/Dax-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'gin';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('../fonts/Gin-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Sabon';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('../fonts/Sabon-Roman.ttf') format('truetype');
}

@font-face {
	font-family: 'Sabon';
	font-style: italic;
	font-weight: 400;
	src: local('font'), url('../fonts/Sabon-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Sabon';
	font-style: italic;
	font-weight: 700;
	src: local('font'), url('../fonts/Sabon-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Sabon';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('../fonts/Sabon-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Taroca';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('../fonts/Taroca.ttf') format('truetype');
}

@font-face {
	font-family: 'SabonLTStd';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('../fonts/SabonLTStd-Roman.ttf') format('truetype');
}

@font-face {
	font-family: 'SabonLTStd';
	font-style: italic;
	font-weight: 400;
	src: local('font'), url('../fonts/SabonLTStd-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'SabonLTStd';
	font-style: italic;
	font-weight: 700;
	src: local('font'), url('../fonts/SabonLTStd-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'SabonLTStd';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('../fonts/SabonLTStd-Bold.ttf') format('truetype');
}

//endregion

.pf2-book-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 1em !important;
	border-top: 2px solid #5e0000;
	border-bottom: 2px solid #5e0000;
}

.pf2-book {
	font-family: 'SabonLTStd', sans-serif;

	.rd__list li {
		font-size: 1em;
		line-height: 1.35em;
	}

	&--stat {
		font-size: 1em;
		margin: 0.6em 0;

		.rd__list li {
			font-size: 1em;
		}
	}

	&__option {
		font-family: 'good-pro', sans-serif;
		font-size: 1em;
		margin: 0;
		padding-left: 1em;
		text-indent: -1em;
	}
}

.pf2-big-stat {
	margin-bottom: 10px;
	height: 60vh;
}

.pf2-small-stat {
	margin-bottom: 10px;
	height: 30vh;
}

.pf2-wrp-stat {
	margin: 1em 0;
	clear: both;
}

.pf2-stat {
	font-family: 'good-pro', sans-serif;
	text-align: justify;
	line-height: 1.33em;
	font-weight: 400;

	&__ {
		&name {
			margin: 0;
			padding: 0;
			font-family: 'good-pro-condensed', sans-serif;
			font-size: 1.35em;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
			text-align: left;

			&--level {
				margin-left: auto !important;
				padding-left: 1em;
			}

			.pf2-action-icon {
				font-size: 1.5em;
			}
		}

		&line {
			border-top: 1px solid black;
			height: 0;
			margin: 0.05em 0 0.2em;
			display: flex;
		}

		&text {
			margin: 0;
			text-indent: 0;

			&--wide {
				margin: 0;

				+ .pf2-stat__text--wide {
					text-indent: 1em;
				}
			}

			~ .pf2-stat__text {
				text-indent: 1em;
			}
		}

		&section {
			margin: 0;
			padding-left: 1em;
			text-indent: -1em;
			display: block;

			&--wide {
				margin: 0;
			}
		}

		&source {
			font-family: 'good-pro', sans-serif;
			line-height: 1.33em;
			font-size: 0.75em;
			font-weight: 400;
			margin: 0;
			padding-top: 0.3em;
			text-align: right;
			font-style: italic;
			clear: left;

			&--other {
				display: block;
				font-size: 0.95em;
			}
		}
	}
}

.pf2-trait {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.4em 1.1em 0.25em;
	min-width: 5em;
	color: white;
	font-family: 'good-pro-condensed', sans-serif;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.01em;
	text-align: center;
	text-transform: uppercase;
	background: #5e0000;
	border: 0.12em solid #d9c484;
	border-bottom-width: 0.07em;
	border-top-width: 0.07em;

	&:hover {
		text-decoration: none !important;
		color: yellow !important;
	}

	&-- {
		&unique {
			background: #54166e;
		}

		&rare {
			background: #002664;
		}

		&uncommon {
			background: #98513d;
		}

		&alignment {
			background: #576293;
			min-width: 2em;
		}

		&size {
			background: #3b7b59;
		}

		&left {
			border-left-width: 0.33em;
		}

		&right {
			border-right-width: 0.33em;
		}

		&settlement {
			background: #004416;
		}
	}
}

.pf2-action-icon {
	font-family: 'Pathfinder2eActions';
	font-size: 1.78em;
	line-height: 0;

	&::after {
		content: attr(data-symbol);
	}
}

.pf2-action-icon-copy-text {
	opacity: 0;
	position: absolute;
}

.night-mode {
	.pf2-stat {
		&__ {
			&line {
				border-color: #aaa;
			}
		}
	}

	.pf2-trait {
		color: #dedada;
	}
}

.pf2-h1 {
	clear: both;
	color: #5e0000;
	margin: 0;
	padding: 0.3em 0 0;
	font-family: 'Taroca', sans-serif;
	font-size: 2.3em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;

	&--blue {
		color: #002664;
	}

	.pf2-h--source {
		display: none;
		margin-bottom: -0.3em;
	}

	&:hover {
		.pf2-h--source {
			display: inline-block;
		}
	}
}

.pf2-h1-flavor {
	clear: both;
	color: #5e0000;
	margin: 0;
	padding: 0;
	font-family: 'SabonLTStd', sans-serif;
	font-style: italic;
	font-size: 1.2em;
	font-weight: 400;
	text-align: justify;
	line-height: 1.34em;

	+ .pf2-h1-flavor {
		text-indent: 1em;
	}
}

.pf2-h2 {
	clear: left;
	color: #002664;
	margin: 0 0 0.1em;
	padding: 0.6em 0 0;
	font-family: 'Taroca', sans-serif;
	font-size: 2em;
	font-weight: 700;
	line-height: 1em;

	&__step {
		margin: 0.8em 0 0.1em 2em;
		padding: 0.05em;
		color: #002664;
		font-family: 'Taroca', sans-serif;
		font-size: 1.6em;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1em;
		background: #d1d3d4;
		display: flex;

		+ .pf2-h2 {
			padding: 0;
			clear: none;
		}
	}

	&__step-num {
		margin: -0.15em 0.3em 0 0;
		padding: 0;
		border: 3px solid #d9c484;
		height: 1.4em;
		width: 1.4em;
		border-radius: 50%;
		background: #002664;
		color: #d9c484;
		text-align: center;
		font-family: 'Taroca', sans-serif;
		font-size: 2.8em;
		text-transform: uppercase;
		float: left;
		clear: left;
		line-height: 1.4em;
	}

	.pf2-h--source {
		display: none;
	}

	&:hover {
		.pf2-h--source {
			display: inline-block;
		}
	}
}

.pf2-h3 {
	clear: left;
	color: #5e0000;
	margin: 0;
	padding: 0.6em 0 0;
	font-family: 'Gin', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.2em;
	display: flex;

	&--lvl {
		margin-left: auto !important;
	}

	.pf2-h--source {
		display: none;
	}

	&:hover {
		.pf2-h--source {
			display: inline-block;
		}
	}
}

.pf2-h4 {
	color: #a86753;
	margin: 0;
	padding: 0.3em 0 0;
	font-family: 'Gin', sans-serif;
	font-size: 1.2em;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 1em;
	vertical-align: bottom;

	.pf2-h--source {
		display: none;
	}

	&:hover {
		.pf2-h--source {
			display: inline-block;
		}
	}
}

.pf2-h5 {
	clear: left;
	background: #002664;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	box-shadow: 0 2px #f6f4f2, 0 3px black;
	color: #ede3c8;
	margin: 0.3em 0;
	padding: 0.3em 0.4em 0.25em;
	font-family: 'Gin', sans-serif;
	font-size: 1.36em;
	font-weight: 400;
	line-height: 0.8em;
	text-transform: uppercase;
	display: flex;
	width: 100%;
}

.pf2-h--source {
	opacity: 60%;
	font-size: 0.7em;
	margin-left: 0.4em;
	line-height: 1.42em;
	align-self: flex-end;
}

.pf2-p {
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'SabonLTStd', sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: justify;
	line-height: 1.35em;

	+ .pf2-p {
		text-indent: 1em;
	}
}

.pf2-table {
	margin: 1em 0 0.3em;
	padding: 0;
	display: grid;
	grid-gap: 0;
	line-height: 1.3em;
	font-size: 1.1em;
	overflow: auto;
	clear: left;
	text-align: left;

	&__ {
		&name {
			padding: 0;
			font-family: 'good-pro', sans-serif;
			font-size: 1em;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
			grid-column-start: 1;
			grid-column-end: -1;
		}

		&caption {
			padding: 0 0 0 0.2em;
			font-family: 'good-pro-condensed', sans-serif;
			font-size: 1.3em;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
			grid-column-start: 1;
			grid-column-end: -1;
			text-align: left;
		}

		&label {
			padding: 0 0.3em;
			background: #5e0000;
			color: white;
			font-family: 'good-pro', sans-serif;
			font-size: 0.9em;
			font-weight: 700;
			line-height: 1.2em;
			display: grid;
			align-content: end;
		}

		&entry {
			padding: 0 0.3em;
			color: black;
			background: #ede3c8;
			font-family: 'good-pro', sans-serif;
			font-size: 0.9em;

			&.odd {
				background: #f5efe0;
			}

			&.border-left {
				border-left: 1px solid #5e0000;
			}

			&.border-right {
				border-right: 1px solid #5e0000;
			}

			&.border-top {
				border-top: 1px solid #5e0000;
			}

			&.border-bottom {
				border-bottom: 1px solid #5e0000;
			}

			.rd__list {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		&footnote {
			padding: 0 0.3em;
			font-family: 'good-pro', sans-serif;
			font-size: 0.9em;
			background: #e6d8b0;
			grid-column-start: 1;
			grid-column-end: -1;
		}

		&intro {
			color: black;
			font-family: 'good-pro', sans-serif;
			font-size: 0.9em;
			grid-column-start: 1;
			grid-column-end: -1;
		}

		&outro {
			color: black;
			font-family: 'good-pro', sans-serif;
			font-size: 0.9em;
			grid-column-start: 1;
			grid-column-end: -1;
		}
	}

	&-- {
		&advancements {
			grid-template-columns: 1fr 7fr;

			.pf2-table__entry span:first-of-type::first-letter {
				text-transform: uppercase;
			}
		}
	}
}

.pf2-sidebar {
	float: right;
	clear: right;
	border-left: solid 2px #5e0000;
	width: 50%;
	max-width: 170px;
	margin: 0.4em -1em 0.4em 1em;
	font-size: 1em;

	.pf2-title {
		font-size: 1.1em;
		font-weight: 700;
		margin: 0;
		font-family: 'good-pro', sans-serif;
		color: #5e0000;
		padding: 0.6em 0.82em 0;
	}

	&__ {
		&title {
			font-size: 1.1em;
			font-weight: 700;
			margin: 0;
			font-family: 'good-pro', sans-serif;
			color: #5e0000;
			padding: 0 0.82em;
		}

		&text {
			margin: 0;
			font-family: 'good-pro', sans-serif;
			color: #5e0000;
			font-size: 0.9em;
			font-weight: 400;
			padding: 0 1em;
		}
	}

	&-- {
		&left {
			float: left;
			clear: left;
			border-right: solid 2px #5e0000;
			width: 50%;
			max-width: 170px;
			margin: 0.4em 1em 0.4em -1em;
			font-size: 0.75em;

			@media only screen and (max-width: 220px) {
				width: calc(100%);
				max-width: none;
			}
		}

		&class {
			.pf2-title,
			.pf2-sidebar__title {
				font-family: 'Gin', sans-serif;
				font-weight: 400;
			}
		}
	}

	@media only screen and (max-width: 220px) {
		width: calc(100%);
		max-width: none;
	}
}

.pf2-chapter {
	&__ {
		&line {
			margin-top: 0.5em;
			height: 1px;
			background: #5e0000;
			width: calc(50% - 1.6em);

			&-- {
				&l {
					margin-right: -1em;
					margin-left: 0;
				}

				&r {
					margin-right: 0;
					margin-left: -1em;
				}
			}
		}

		&swirl {
			margin-top: 0.22em;
			padding: 0;
			fill: #5e0000;
			width: 3.2em;

			&-- {
				&l {
					margin-right: -0.12em;
				}

				&r {
					margin-left: -0.12em;
					transform: scaleX(-1);
				}
			}
		}
	}
}

.pf2-key-abilities {
	color: white;
	background: #5e0000;
	border: 2px solid #b29e74;
	display: flex;
	margin: 0.3em 0;
	clear: left;

	&__ {
		&ab {
			box-shadow: 8px 0 0 -6px #b29e74;
			width: calc(50% - 3px);
			padding: 0 1em 1em;
		}

		&hp {
			padding: 0 1em 1em;
			width: calc(50% - 1px);
		}

		&title {
			margin: 0;
			padding-bottom: 0.3em;
			font-family: 'Gin', sans-serif;
			font-weight: 400;
			font-size: 1.2em;
			text-align: left;
		}

		&text {
			font-family: 'good-pro', sans-serif;
			font-weight: 700;
			font-size: 0.9em;
			text-align: left;
			line-height: 1.2em;
			margin: 0;

			~ .pf2-key-abilities__text {
				font-weight: 400;
			}
		}
	}

	@media only screen and (max-width: 520px) {
		flex-direction: column;

		&__ {
			&ab {
				box-shadow: 0 8px 0 -6px #b29e74;
				width: 100%;
			}

			&hp {
				width: 100%;
				padding: 0.3em 1em 1em;
			}
		}
	}
}

.pf2-key-box {
	color: white;
	background: #5e0000;
	border: 2px solid #b29e74;
	margin: 0.3em 0;
	padding: 0.6em;
	clear: left;

	&__ {
		&title {
			margin: 0;
			font-family: 'Gin', sans-serif;
			font-weight: 700;
			font-size: 1.4em;
			text-align: center;
		}

		&text {
			font-family: 'good-pro', sans-serif;
			font-weight: 400;
			font-size: 1.2em;
			text-align: left;
			line-height: 1.2em;
			margin: 0;
		}
	}

	.pf2-title {
		margin: 0;
		font-family: 'Gin', sans-serif;
		font-weight: 700;
		font-size: 1.4em;
		text-align: center;
	}
}

.pf2-tips-box {
	float: left;
	font-family: 'good-pro', sans-serif;
	width: calc(50% - 1em);
	max-width: 300px;
	min-width: 150px;
	margin: 0.3em 1em 0.3em 0;

	&__ {
		&title {
			margin: 0;
			padding: 0.2em 0.3em 0;
			background: #002664;
			color: #d9c484;
			font-weight: 700;
			font-size: 1.1em;
			text-transform: uppercase;
			text-align: left;
			line-height: 1.2em;
		}

		&text {
			background: #d1d3d4;
			font-size: 0.9em;
			line-height: 1.2em;
			text-align: justify;
			margin: 0;
			padding: 0.1em 0.3em;
		}
	}
}

.pf2-sample-box {
	float: left;
	background: #eae4d8;
	margin: 0.3em 0;
	padding: 0 1em 0.3em;
	font-family: 'good-pro', sans-serif;
	font-size: 1em;

	&__ {
		&title {
			margin: 0;
			padding: 0.3em 1em;
			font-weight: 700;
			line-height: 1.2em;
			text-align: center;
		}

		&section {
			margin: 0;
			padding: 0 1em 0 1.3em;
			font-weight: 400;
			line-height: 1.2em;
			text-indent: -1em;
		}

		&text {
			margin: 0;
			padding: 0 0.3em 0.3em;
			font-weight: 400;
			line-height: 1.2em;
		}
	}
}

.pf2-beige-box {
	float: left;
	background: #f1e9d4;
	margin: 0.6em 0;
	padding: 0.3em 1em;
	font-family: 'good-pro', sans-serif;
	font-size: 1em;

	&__ {
		&title {
			margin: 0;
			font-weight: 700;
			line-height: 1.2em;
			text-align: left;
		}

		&text {
			margin: 0;
			font-weight: 400;
			line-height: 1.2em;
			text-align: justify;

			+ .pf2-beige-box__text {
				text-indent: 1em;
			}
		}
	}

	.pf2-title {
		margin: 0;
		font-weight: 700;
		line-height: 1.2em;
		text-align: left;
	}

	* + .pf2-title {
		margin-top: 0.6em;
	}
}

.pf2-inset {
	background: #eae4d8;
	clear: left;
	border-top: 1px solid #c99a89;
	border-bottom: 1px solid #c99a89;
	font-family: 'good-pro', sans-serif;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.2em;
	text-align: center;
	margin: 0.3em 0.6em;
	padding: 0 1em;
	height: fit-content;
}

.pf2-box {
	position: relative;
	left: 3%;
	margin: 1.6em 0 0.6em;
	padding: 0.6em;
	font-family: 'good-pro', sans-serif;
	width: 94%;
	min-width: 120px;
	border-radius: 2px;
	font-size: 1em;

	&__ {
		&title {
			position: relative;
			z-index: 2;
			top: -0.36em;
			left: 0;
			padding-right: 1em;
			padding-left: 1em;
			display: block;
			font-weight: bold;
			font-size: 1.22em;
			text-transform: uppercase;
			text-align: center;
		}

		&text {
			margin: 0 1em;
			text-indent: 0;
			text-align: justify;
			line-height: 1.2em;

			+ .pf2-box__text {
				text-indent: 0.9em;
			}
		}

		&swirl {
			position: absolute;
			z-index: 1;
			top: -2em;
			background: none !important;
			display: flex;
			width: 4em;
			height: 4em;

			&-- {
				&right {
					right: -0.6107em;
				}

				&left {
					left: -0.6107em;
				}
			}
		}

		&swirl-connection {
			position: absolute;
			z-index: 1;
			top: -0.476em;
			right: 2em;
			height: 2em;
			width: calc(100% - 4em);
			display: flex;
		}

		&table--red {
			margin-top: 1em;
			font-family: 'good-pro', sans-serif;
			border-collapse: collapse;
			display: grid;
			overflow: auto;

			.pf2-table__label {
				padding: 0 1em;
				font-size: 1em;
				text-align: center;
			}

			.pf2-table__entry {
				padding: 0 1em;
				background: #5e0000;
				color: white;
				border-left: 1px solid #b29e74;
				border-right: 1px solid #b29e74;
			}
		}
	}

	&-- {
		&red {
			background-color: #5e0000;
			fill: #5e0000;
			color: white;
		}

		&brown {
			background-color: #c8bca5;
			fill: #c8bca5;
			color: black;
		}
	}

	.pf2-title {
		margin: 1em 1em 0;
		font-size: 1.22em;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}
}

.no-border-left {
	border-left-style: none !important;
}

.no-border-right {
	border-right-style: none !important;
}

.no-font-style {
	font-weight: normal !important;
	font-style: normal !important;
	font-variant: none !important;
	text-decoration: none !important;
}

.text-no-indent {
	text-indent: 0 !important;
}

.text-indent-first {
	text-indent: 1em !important;
}

.text-indent-subsequent {
	padding-left: 1em !important;
	text-indent: -1em !important;
}

.hidden-fluff {
	display: none !important;
}

.scroll-to-highlight {
	.rd__h {
		animation: flash-highlight 1s linear 2;
		@keyframes flash-highlight {
			50% {
				opacity: 10%;
			}
		}
	}
}

.rigen__ {
	&visible {
		display: none;
	}

	&btn_list {
		padding: 0 1px;
		line-height: 12px;
		font-size: 9px;
		border-radius: 3px;
	}
}

.rigen_active {
	.rigen {
		&__visible {
			display: block;
		}

		&__visible--flex {
			display: flex;
		}

		&__visible--flex-col {
			display: flex;
			flex-direction: column;
		}

		&__hidden {
			display: none !important;
		}

		&__name {
			width: 26.66666666%;
		}

		&__name--sub {
			width: 29.16666667%;
		}
	}
}

.ecgen__xp_total {
	font-size: 0.8em;
	margin-left: auto !important;
	line-height: 28px;
}

.ecgen__overlevel {
	color: red;
	margin-top: 10px;
	margin-bottom: -10px;
}

.hr-other-source {
	margin: 15px 0;
	border-top: 1px solid #ddd;
}
