@import 'vars';

.source {
	$rgb-source-APG: #4a6898;
	$rgb-source-GMG: purple;
	$rgb-source-B1: rgb(0, 137, 0);
	$rgb-source-B2: rgb(0, 107, 0);
	$rgb-source-B3: rgb(0, 77, 0);
	$rgb-source-LOGM: #1b8fac;
	$rgb-source-Homebrew: $rgb-class-brew;
	$rgb-source-CRB: #a2201f;
	$rgb-source-SoM: #a24d08;
	$rgb-source-G_G: #754f2f;
	$rgb-source-AAWS: #365fac;
	$rgb-source-LOME: #9b7c27;
	$rgb-source-LOTGB: #ac408b;
	$rgb-source-BotD: #2b4625;
	$rgb-source-LOTG: #4ac15e;
	$rgb-source-DA: #5c8ba9;
	$rgb-source-LOKL: #556168;
	$rgb-source-LOIL: #47a08d;

	&AAWS {
		color: $rgb-source-AAWS !important;
		border-color: $rgb-source-AAWS !important;
		text-decoration-color: $rgb-source-AAWS !important;
	}

	&APG {
		color: $rgb-source-APG !important;
		border-color: $rgb-source-APG !important;
		text-decoration-color: $rgb-source-APG !important;
	}

	&GMG {
		color: $rgb-source-GMG !important;
		border-color: $rgb-source-GMG !important;
		text-decoration-color: $rgb-source-GMG !important;
	}

	&B1 {
		color: $rgb-source-B1 !important;
		border-color: $rgb-source-B1 !important;
		text-decoration-color: $rgb-source-B1 !important;
	}

	&B2 {
		color: $rgb-source-B2 !important;
		border-color: $rgb-source-B2 !important;
		text-decoration-color: $rgb-source-B2 !important;
	}

	&B3 {
		color: $rgb-source-B3 !important;
		border-color: $rgb-source-B3 !important;
		text-decoration-color: $rgb-source-B3 !important;
	}

	&LOME {
		color: $rgb-source-LOME !important;
		border-color: $rgb-source-LOME !important;
		text-decoration-color: $rgb-source-LOME !important;
	}

	&LOGM,
	&LOCG,
	&LOWG,
	&LOL,
	&LOPSG,
	&LOAG {
		color: $rgb-source-LOGM !important;
		border-color: $rgb-source-LOGM !important;
		text-decoration-color: $rgb-source-LOGM !important;
	}

	&LOTGB {
		color: $rgb-source-LOTGB !important;
		border-color: $rgb-source-LOTGB !important;
		text-decoration-color: $rgb-source-LOTGB !important;
	}

	&Homebrew {
		color: $rgb-source-Homebrew !important;
		border-color: $rgb-source-Homebrew !important;
		text-decoration-color: $rgb-source-Homebrew !important;
	}

	&Spicy {
		color: $rgb-subclass-ua !important;
		border-color: $rgb-subclass-ua !important;
		text-decoration-color: $rgb-subclass-ua !important;
	}

	&CRB {
		color: $rgb-source-CRB !important;
		border-color: $rgb-source-CRB !important;
		text-decoration-color: $rgb-source-CRB !important;
	}

	&SoM {
		color: $rgb-source-SoM !important;
		border-color: $rgb-source-SoM !important;
		text-decoration-color: $rgb-source-SoM !important;
	}

	&G_G {
		color: $rgb-source-G_G !important;
		border-color: $rgb-source-G_G !important;
		text-decoration-color: $rgb-source-G_G !important;
	}

	&BotD {
		color: $rgb-source-BotD !important;
		border-color: $rgb-source-BotD !important;
		text-decoration-color: $rgb-source-BotD !important;
	}

	&LOTG {
		color: $rgb-source-LOTG !important;
		border-color: $rgb-source-LOTG !important;
		text-decoration-color: $rgb-source-LOTG !important;
	}

	&DA {
		color: $rgb-source-DA !important;
		border-color: $rgb-source-DA !important;
		text-decoration-color: $rgb-source-DA !important;
	}

	&LOKL {
		color: $rgb-source-LOKL !important;
		border-color: $rgb-source-LOKL !important;
		text-decoration-color: $rgb-source-LOKL !important;
	}

	&LOIL {
		color: $rgb-source-LOIL !important;
		border-color: $rgb-source-LOIL !important;
		text-decoration-color: $rgb-source-LOIL !important;
	}
}
