@import 'vars';

.source {
	$rgb-source-PHB: #4a6898;
	$rgb-source-DMG: purple;
	$rgb-source-MM: green;
	$rgb-source-SCAG: #76af76;
	$rgb-source-VGM: grey;
	$rgb-source-XGE: #ba7c00;
	$rgb-source-HotDQ: #ad8eba;
	$rgb-source-RoT: #ff2900;
	$rgb-source-CoS: purple;
	$rgb-source-OotA: grey;
	$rgb-source-SKT: darkcyan;
	$rgb-source-PotA: #57b6c6;
	$rgb-source-LMoP: #8da851;
	$rgb-source-TftYP: red;
	$rgb-source-Homebrew: $rgb-class-brew;
	$rgb-source-ToA: #666f30;
	$rgb-source-MTF: #1f6e7b;
	$rgb-source-WDH: #d4af37;
	$rgb-source-GGR: #bfa76c;
	$rgb-source-WDMM: #a2201f;
	$rgb-source-LLK: #6e7a71;
	$rgb-source-GoS: #3d695a;
	$rgb-source-AI: #5baf04;
	$rgb-source-ESK: #6b909a;
	$rgb-source-BGDIA: #752418;
	$rgb-source-ERLW: #983426;
	$rgb-source-RMR: #5c7c27;
	$rgb-source-MFF: #92817f;
	$rgb-source-LR: #78613c;
	$rgb-source-IMR: #a19364;
	$rgb-source-SADS: #333bab;
	$rgb-source-EGW: #855a6e;
	$rgb-source-MOT: #556b2e;
	$rgb-source-IDRotF: #8fb8c0;
	$rgb-source-TCE: #a24d08;
	$rgb-source-AL: #e50711;

	&PHB {
		color: $rgb-source-PHB !important;
		border-color: $rgb-source-PHB !important;
		text-decoration-color: $rgb-source-PHB !important;
	}

	&DMG {
		color: $rgb-source-DMG !important;
		border-color: $rgb-source-DMG !important;
		text-decoration-color: $rgb-source-DMG !important;
	}

	&MM {
		color: $rgb-source-MM !important;
		border-color: $rgb-source-MM !important;
		text-decoration-color: $rgb-source-MM !important;
	}

	&SCAG {
		color: $rgb-source-SCAG !important;
		border-color: $rgb-source-SCAG !important;
		text-decoration-color: $rgb-source-SCAG !important;
	}

	&VGM {
		color: $rgb-source-VGM !important;
		border-color: $rgb-source-VGM !important;
		text-decoration-color: $rgb-source-VGM !important;
	}

	&XGE,
	&TTP { // Tortles are counted as an XGE race for AL
		color: $rgb-source-XGE !important;
		border-color: $rgb-source-XGE !important;
		text-decoration-color: $rgb-source-XGE !important;
	}

	&HotDQ {
		color: $rgb-source-HotDQ !important;
		border-color: $rgb-source-HotDQ !important;
		text-decoration-color: $rgb-source-HotDQ !important;
	}

	&RoT {
		color: $rgb-source-RoT !important;
		border-color: $rgb-source-RoT !important;
		text-decoration-color: $rgb-source-RoT !important;
	}

	&CoS {
		color: $rgb-source-CoS !important;
		border-color: $rgb-source-CoS !important;
		text-decoration-color: $rgb-source-CoS !important;
	}

	&OotA {
		color: $rgb-source-OotA !important;
		border-color: $rgb-source-OotA !important;
		text-decoration-color: $rgb-source-OotA !important;
	}

	&SKT {
		color: $rgb-source-SKT !important;
		border-color: $rgb-source-SKT !important;
		text-decoration-color: $rgb-source-SKT !important;
	}

	&PotA,
	&EEPC {
		color: $rgb-source-PotA !important;
		border-color: $rgb-source-PotA !important;
		text-decoration-color: $rgb-source-PotA !important;
	}

	&LMoP {
		color: $rgb-source-LMoP !important;
		border-color: $rgb-source-LMoP !important;
		text-decoration-color: $rgb-source-LMoP !important;
	}

	&TftYP {
		color: $rgb-source-TftYP !important;
		border-color: $rgb-source-TftYP !important;
		text-decoration-color: $rgb-source-TftYP !important;
	}

	&Homebrew {
		color: $rgb-source-Homebrew !important;
		border-color: $rgb-source-Homebrew !important;
		text-decoration-color: $rgb-source-Homebrew !important;
	}

	&Spicy {
		color: $rgb-subclass-ua !important;
		border-color: $rgb-subclass-ua !important;
		text-decoration-color: $rgb-subclass-ua !important;
	}

	&ToA {
		color: $rgb-source-ToA !important;
		border-color: $rgb-source-ToA !important;
		text-decoration-color: $rgb-source-ToA !important;
	}

	&MTF {
		color: $rgb-source-MTF !important;
		border-color: $rgb-source-MTF !important;
		text-decoration-color: $rgb-source-MTF !important;
	}

	&WDH {
		color: $rgb-source-WDH !important;
		border-color: $rgb-source-WDH !important;
		text-decoration-color: $rgb-source-WDH !important;
	}

	&GGR,
	&KKW {
		color: $rgb-source-GGR !important;
		border-color: $rgb-source-GGR !important;
		text-decoration-color: $rgb-source-GGR !important;
	}

	&WDMM {
		color: $rgb-source-WDMM !important;
		border-color: $rgb-source-WDMM !important;
		text-decoration-color: $rgb-source-WDMM !important;
	}

	&LLK {
		color: $rgb-source-LLK !important;
		border-color: $rgb-source-LLK !important;
		text-decoration-color: $rgb-source-LLK !important;
	}

	&GoS {
		color: $rgb-source-GoS !important;
		border-color: $rgb-source-GoS !important;
		text-decoration-color: $rgb-source-GoS !important;
	}

	&AI,
	&OoW {
		color: $rgb-source-AI !important;
		border-color: $rgb-source-AI !important;
		text-decoration-color: $rgb-source-AI !important;
	}

	// These are all from the same family
	&ESK,
	&DIP,
	&DC,
	&SDW,
	&SLW {
		color: $rgb-source-ESK !important;
		border-color: $rgb-source-ESK !important;
		text-decoration-color: $rgb-source-ESK !important;
	}

	&BGDIA {
		color: $rgb-source-BGDIA !important;
		border-color: $rgb-source-BGDIA !important;
		text-decoration-color: $rgb-source-BGDIA !important;
	}

	&ERLW,
	&EFR {
		color: $rgb-source-ERLW !important;
		border-color: $rgb-source-ERLW !important;
		text-decoration-color: $rgb-source-ERLW !important;
	}

	&RMR,
	&RMBRE {
		color: $rgb-source-RMR !important;
		border-color: $rgb-source-RMR !important;
		text-decoration-color: $rgb-source-RMR !important;
	}

	&MFF {
		color: $rgb-source-MFF !important;
		border-color: $rgb-source-MFF !important;
		text-decoration-color: $rgb-source-MFF !important;
	}

	&LR {
		color: $rgb-source-LR !important;
		border-color: $rgb-source-LR !important;
		text-decoration-color: $rgb-source-LR !important;
	}

	&IMR {
		color: $rgb-source-IMR !important;
		border-color: $rgb-source-IMR !important;
		text-decoration-color: $rgb-source-IMR !important;
	}

	&SADS {
		color: $rgb-source-SADS !important;
		border-color: $rgb-source-SADS !important;
		text-decoration-color: $rgb-source-SADS !important;
	}

	&EGW,
	&FS,
	&DD,
	&US,
	&ToR {
		color: $rgb-source-EGW !important;
		border-color: $rgb-source-EGW !important;
		text-decoration-color: $rgb-source-EGW !important;
	}

	&MOT {
		color: $rgb-source-MOT !important;
		border-color: $rgb-source-MOT !important;
		text-decoration-color: $rgb-source-MOT !important;
	}

	&IDRotF {
		color: $rgb-source-IDRotF !important;
		border-color: $rgb-source-IDRotF !important;
		text-decoration-color: $rgb-source-IDRotF !important;
	}

	&TCE {
		color: $rgb-source-TCE !important;
		border-color: $rgb-source-TCE !important;
		text-decoration-color: $rgb-source-TCE !important;
	}

	&AL {
		color: $rgb-source-AL !important;
		border-color: $rgb-source-AL !important;
		text-decoration-color: $rgb-source-AL !important;
	}
}

.sp__ {
	&school- {
		&A {
			color: #00b921;
		}

		&V {
			color: #bb0100;
		}

		&E {
			color: #b30083;
		}

		&I {
			color: #006dbd;
		}

		&D {
			color: #00adb3;
		}

		&N {
			color: #6c00cc;
		}

		&T {
			color: #ccbe00;
		}

		&C {
			color: #bd0044;
		}
	}
}
