@import 'vars';

.source {
	$rgb-source-APG: #4a6898;
	$rgb-source-GMG: purple;
	$rgb-source-Bst: rgb(0, 137, 0);
	$rgb-source-Bst2: rgb(0, 107, 0);
	$rgb-source-Bst3: rgb(0, 77, 0);
	$rgb-source-LOGM: #69af9a;
	$rgb-source-Homebrew: $rgb-class-brew;
	$rgb-source-CRB: #a2201f;
	$rgb-source-SoM: #a24d08;
	$rgb-source-G_G: #754f2f;
	$rgb-source-AAWS: #365fac;
	$rgb-source-LOME: #9b7c27;
	$rgb-source-LOTGB: #ac408b;

	&AAWS {
		color: $rgb-source-AAWS !important;
		border-color: $rgb-source-AAWS !important;
		text-decoration-color: $rgb-source-AAWS !important;
	}

	&APG {
		color: $rgb-source-APG !important;
		border-color: $rgb-source-APG !important;
		text-decoration-color: $rgb-source-APG !important;
	}

	&GMG {
		color: $rgb-source-GMG !important;
		border-color: $rgb-source-GMG !important;
		text-decoration-color: $rgb-source-GMG !important;
	}

	&Bst {
		color: $rgb-source-Bst !important;
		border-color: $rgb-source-Bst !important;
		text-decoration-color: $rgb-source-Bst !important;
	}

	&Bst2 {
		color: $rgb-source-Bst2 !important;
		border-color: $rgb-source-Bst2 !important;
		text-decoration-color: $rgb-source-Bst2 !important;
	}

	&Bst3 {
		color: $rgb-source-Bst3 !important;
		border-color: $rgb-source-Bst3 !important;
		text-decoration-color: $rgb-source-Bst3 !important;
	}

	&LOME {
		color: $rgb-source-LOME !important;
		border-color: $rgb-source-LOME !important;
		text-decoration-color: $rgb-source-LOME !important;
	}

	&LOGM,
	&LOCG,
	&LOWG,
	&LOL,
	&LOPSG,
	&LOAG {
		color: $rgb-source-LOGM !important;
		border-color: $rgb-source-LOGM !important;
		text-decoration-color: $rgb-source-LOGM !important;
	}

	&LOTGB {
		color: $rgb-source-LOTGB !important;
		border-color: $rgb-source-LOTGB !important;
		text-decoration-color: $rgb-source-LOTGB !important;
	}

	&Homebrew {
		color: $rgb-source-Homebrew !important;
		border-color: $rgb-source-Homebrew !important;
		text-decoration-color: $rgb-source-Homebrew !important;
	}

	&Spicy {
		color: $rgb-subclass-ua !important;
		border-color: $rgb-subclass-ua !important;
		text-decoration-color: $rgb-subclass-ua !important;
	}

	&CRB {
		color: $rgb-source-CRB !important;
		border-color: $rgb-source-CRB !important;
		text-decoration-color: $rgb-source-CRB !important;
	}

	&SoM {
		color: $rgb-source-SoM !important;
		border-color: $rgb-source-SoM !important;
		text-decoration-color: $rgb-source-SoM !important;
	}

	&G_G {
		color: $rgb-source-G_G !important;
		border-color: $rgb-source-G_G !important;
		text-decoration-color: $rgb-source-G_G !important;
	}
}

.sp__ {
	&school- {
		&A {
			color: #00b921;
		}

		&V {
			color: #bb0100;
		}

		&E {
			color: #b30083;
		}

		&I {
			color: #006dbd;
		}

		&D {
			color: #00adb3;
		}

		&N {
			color: #6c00cc;
		}

		&T {
			color: #ccbe00;
		}

		&C {
			color: #bd0044;
		}
	}
}
