/*
Shared UI components
 */

@import 'vars';

/* Proficiency */
.night-mode {
	.ui-prof__ {
		&btn-cycle {
			&:active {
				@include shadow-active--night();
			}

			&[data-state='0'] {
				background: $rgb-bg-color--night;
			}

			&[data-state='1'] {
				background: $rgb-border-grey;
				border-color: #aaa;
			}

			&[data-state='2'] {
				background: $rgb-border-grey;
				border-color: #aaa;

				&::after {
					color: $rgb-bg-color--night;
					font-weight: bold;
				}
			}

			&[data-state='3'] {
				background: repeating-linear-gradient(135deg, $rgb-bg-color--night, $rgb-bg-color--night 10px, $rgb-border-grey 10px, $rgb-border-grey 20px);
				border-color: $rgb-border-grey;
			}
		}
	}
}

/* Direction picker */
.night-mode {
	.ui-dir__ {
		&face {
			background: $rgb-bg-color--night;
		}

		&arm {
			background: $rgb-font-color--night;
			box-shadow: none;
		}
	}
}

/* Hover tips */
.night-mode {
	.ui-tip__ {
		&child {
			background: $rgb-bg-color--night;
		}
	}
}

