@import 'vars';

/* Source overlay */
.ui-source__row {
	margin-left: calc(-96px - 0.5rem);
}

.ui-source__name {
	min-width: 96px;
	white-space: nowrap;
	text-align: right;
}

.ui-source__divider {
	height: 1px;
	width: 30px;
	background: #ccc;
	display: inline-block;
	margin: 0 3px;
}
