@font-face {
	font-family: 'Convergence';
	font-style: normal;
	font-weight: 400;
	src: local('Convergence-Regular'), url('../fonts/Convergence-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), url('../fonts/Roboto-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	src: local('glyphicons-halflings-regular'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}

@keyframes kf-fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

$sz-y-header: 73px;

$spacer: 1rem;

$rgb-off-black: #333;

$rgb-active-blue--light: #7398b7;
$rgb-active-blue: #337ab7;
$rgb-active-blue--dark: #2a6496;
$rgb-active-red--light: #8a4b4b;
$rgb-active-red: #8a1a1b;
$rgb-active-red--dark: #711617;
$rgb-inactive-grey: #c3c3c3;

$rgb-name-red: #822000;
$rgb-bg-orange: #fdf1dc;

$rgb-link-blue: $rgb-active-blue;

$rgb-border-grey: #ccc;
$rgb-border-grey--trans: #cccccca0;
$rgb-border-grey--muted: #eee;

$rgb-modal-overlay-grey: #45454588;
$rgb-shadow-grey: rgba(0, 0, 0, 0.175);
$rgb-shadow-grey-dark: rgba(0, 0, 0, 0.475);

$rgb-stripe-grey: #88888818;
$rgb-stripe-grey--faint: #bbbbbb18;
$rgb-night-stripe-grey: #aaa4;

$rgb-night-hr-grey: #888;

$rgb-night-font-color: #bbb;
$rgb-night-bg-color: #222;

$rgb-alert-text-success: #3c763d;
$rgb-alert-text-info: #31708f;
$rgb-alert-text-warning: #8a6d3b;
$rgb-alert-text-danger: #a94442;

$rgb-btn-danger-border-red: #ac2925;

$rgb-btn-primary-blue: $rgb-active-blue;
$rgb-btn-primary-blue--desaturated: #b8b8b8;

// Colors blended using https://www.w3schools.com/colors/colors_mixer.asp
$rgb-night-btn-primary-blue: #2a4e6c; // #337ab7 blended with #222
$rgb-night-btn-danger-red: #7e3a38; // #d9534f blended with #222
$rgb-night-btn-warning-orange: #896838; // #f0ad4e blended with #222
$rgb-night-btn-info-blue: #2a697c; // #31b0d5 blended with #222
$rgb-night-btn-success-green: #427442; // #5cb85c blended with #222

/* Z-Indices */
$z-token-image: 10;

$z-side-menu: 60;

$z-omnisearch: 100;
$z-book-find: 100;
$z-bookmode: 100;
$z-rollerbox-hidden: 100;
$z-rollerbox-active: 110;

$z-hwin: 200;

$z-modal-wrapper: 1000;
$z-modal-inner: 1001;
$z-modal-legal: 1000;

$z-context-menu: 1100;

$z-temp-effect: 2000;

/* *** */

@mixin shadow-1 () {
	box-shadow: 0 6px 12px $rgb-shadow-grey;
}

@mixin shadow-active {
	box-shadow: 0 0 2px 0 #000b;
}

@mixin shadow-active--night {
	box-shadow: 0 0 3px 0 #fffb;
}

/* *** */

@mixin font-regular {
	font-family: Arial, sans-serif;
	font-variant: normal;
	font-weight: normal;
}

$width-screen-xs: 480px;
$width-screen-sm: 768px;
$width-screen-md: 991px;
$width-screen-lg: 1200px;
