root = true

[*]
charset=utf-8
end_of_line=lf
indent_style=tab
trim_trailing_whitespace=true
insert_final_newline=true
max_line_length = 115

[*.{json,md}]
# Hack to make Prettier not collapse arrays
max_line_length=1
